openapi: 3.0.3
info:
  title: Versat API
  version: 2026.04.17
  description: |
    La API de Versat permite acceder y manipular datos mediante el protocolo HTTPS, siguiendo el estándar RESTful.

    **Autenticación:** Todas las solicitudes requieren autenticación a través de encabezados HTTP. Se admiten los siguientes métodos:

    - Basic Auth: utilizando usuario y contraseña.

    - Bearer Token: utilizando un token generado en el ERP.

    **Permisos:** El acceso a los recursos está determinado por los permisos asignados al usuario dentro del sistema.

    **Importante:** No comparta sus credenciales ni tokens de acceso.
servers:
  - url: https://app.versat.ag/api/Polling

tags:
  - name: AF01 - Cotizaciones de Monedas
  - name: AF31 - Facturas
  - name: AF41 - Órdenes de Pago
  - name: AF51 - Recibos y Transacciones
  - name: AF61 - Pagarés
  - name: AF71 - Cheques
  - name: AF81 - Conciliación Bancaria
  - name: AF86 - Presupuesto Anual
  - name: AG01 - Cotizaciones del Mercado
  - name: AG10 - Contratos de Representación
  - name: AG11 - Contratos de Compra/Venta
  - name: AG12 - Cancelación de Contratos
  - name: AG17 - Orden de Fijación
  - name: AG21 - Fijación de Costos
  - name: AG25 - Rollover
  - name: AG31 - Fijación de Bushel
  - name: AG41 - Fijación de Precio
  - name: AG51 - Transferencias entre Clientes
  - name: AG61 - Contrataciones de Fletes
  - name: AG62 - Provisión de Pago de Flete
  - name: AG71 - Remisiones
  - name: AG72 - Pesos de Llegada
  - name: AG91 - Facturas
  - name: AI11 - Pedidos
  - name: AI15 - Cancelación de Pedidos
  - name: AI51 - Remisiones
  - name: AI71 - Facturas
  - name: AI81 - Pagarés
  - name: AI91 - Provisión de Pago de Comisiones
  - name: AM31 - Planificación Comercial
  - name: AM61 - Mediciones de Áreas
  - name: AM71 - Historial de Checkin
  - name: AO01 - Solicitudes de Crédito
  - name: AO40 - Protocolos de Facturas
  - name: AO41 - Protocolos de Pagarés
  - name: AO42 - Protocolos de Contratos
  - name: AO43 - Protocolos de Fijaciones
  - name: AO44 - Protocolos de Cheques
  - name: AO81 - Renegociación de Vencimientos
  - name: AP31 - Consumo Interno
  - name: AP41 - Orden de Producción
  - name: AP51 - Entradas de Producción en Serie
  - name: AP61 - Cierre de Orden de Producción
  - name: AP71 - Cierre de Producción Agrícola
  - name: AP81 - Transformación de Productos
  - name: AQ21 - Proyectos de Zafra
  - name: AQ31 - Recomendaciones de Aplicación
  - name: AQ71 - Lluvia
  - name: AR05 - Contratos de Trabajo
  - name: AR11 - Hoja de Pago
  - name: AR51 - Solicitud de vacaciones
  - name: AS02 - Importar Traducción
  - name: AS21 - Facturas
  - name: AS30 - Notificaciones del mercado
  - name: AS50 - Anexar Logo de la Empresa
  - name: AS61 - Migración de Modelo de Negocio
  - name: AS70 - Conciliación de Migración de Datos
  - name: AS73 - Importar Cuentas
  - name: AS75 - Importar Entidades
  - name: AS76 - Importar Insumos Agrícolas
  - name: AS77 - Importar Productos
  - name: AS78 - Importar Lista de Precios
  - name: AS79 - Importar Saldo por Depósito
  - name: AS80 - Importar Cotizaciones
  - name: AS81 - Importar Asiento Diario
  - name: AS83 - Importar Facturas
  - name: AS84 - Importar Pedidos
  - name: AS85 - Importar Pedidos
  - name: AS86 - Actualizar Saldo de Pedidos
  - name: AS87 - Importar Remisiones
  - name: AS91 - Importar Hoja de Pago
  - name: AS94 - Importar Cheques
  - name: AS95 - Importar Pagarés
  - name: AS96 - Importar Recibos
  - name: AS97 - Importar Bienes del Activo Fijo
  - name: AS98 - Exportación de datos
  - name: AS99 - Task Manager
  - name: AX01 - Lanzamientos en el Diario
  - name: AX41 - Aperturas de Despachos
  - name: AX45 - Cierres de Despachos
  - name: AX51 - Actualizaciones Monetarias
  - name: AX61 - Revalúo y Depreciación
  - name: AX71 - Cierre de Periodo (mensual o diario)
  - name: AX81 - Cierre de Ejercicio
  - name: AX82 - Apertura de Ejercicio
  - name: AX85 - Auditoría
  - name: BA13 - Chapas
  - name: BA15 - Choferes y propietarios de vehículos
  - name: BA31 - Entidades
  - name: BA32 - Entidades - Inmuebles
  - name: BA33 - Entidades - Otros bienes
  - name: BA37 - Actividades
  - name: BA41 - Restricciones de Entidades por Usuario
  - name: BA51 - Registro Único de Contribuyentes
  - name: BB11 - Inmuebles
  - name: BB21 - Muebles y Equipos
  - name: BB31 - Vehículos y Maquinaria
  - name: BP41 - Materiales
  - name: BP51 - Insumos Agrícolas
  - name: BP52 - Granos
  - name: BP61 - Servicios
  - name: BP64 - Productos Elaborados
  - name: BP71 - Lista de Precios
  - name: OA01 - Mis Informes
  - name: OA02 - Traducción
  - name: OA03 - Depósitos
  - name: OA11 - Parcelas
  - name: OA21 - Zafras
  - name: OA22 - Culturas
  - name: OA28 - Secuencial de Pedidos
  - name: OA29 - Secuencial de Recibos de Cobro
  - name: OA30 - Secuencial de Pagarés
  - name: OA31 - Chequeras
  - name: OA38 - Formación de Precios
  - name: OA41 - Comisión Sobre Ventas
  - name: OA43 - Tipos de Actividades
  - name: OA45 - Tipos de Negociaciones
  - name: OA51 - Modelos de vehículos
  - name: OA57 - Condiciones de Pago
  - name: OA61 - Motivos Cancelación
  - name: OA62 - Motivos de operaciones
  - name: OA71 - Campañas de marketing
  - name: OA80 - Tipos de Identificaciones
  - name: OA81 - Tipos de Contactos
  - name: OA82 - Nacionalidades
  - name: OA83 - Países
  - name: OA84 - Departamentos
  - name: OA85 - Localidades
  - name: OA86 - Fases de Cultivo
  - name: OA91 - Localización de Stock
  - name: OB10 - Nombres Comerciales
  - name: OB16 - Presentación
  - name: OB32 - Grupos de Productos
  - name: OB33 - Grupos de Productos
  - name: OB35 - Unidades de Medidas
  - name: OB61 - Línea
  - name: OB65 - Restricciones de Líneas por Usuario
  - name: OB88 - Marca
  - name: OB89 - Principios Activos
  - name: OC23 - Calidad de Granos
  - name: OC24 - Tablas de Descuentos
  - name: OC25 - Tipos de Contratos de Granos
  - name: OC26 - Bases de Bushel
  - name: OC27 - Secuencial de Contratos
  - name: OC51 - Modalidades de Contratos
  - name: OE01 - Vendedores
  - name: OE51 - Macro Regiones
  - name: OE71 - Carteras
  - name: OF01 - Garantías
  - name: OG31 - Plagas
  - name: OG41 - Estados Fenológicos
  - name: OG71 - Estaciones pluviométricas
  - name: OK01 - Empresas
  - name: OK11 - Unidades
  - name: OK51 - Monedas
  - name: OK61 - Tipos de Cotización
  - name: OP09 - Google Calendar
  - name: OP10 - Google Drive
  - name: OP11 - SharePoint
  - name: OP15 - SFTP
  - name: OP30 - Integraciones SSO
  - name: OP40 - Tokens
  - name: OP50 - Webhooks
  - name: OP60 - Meta Ads
  - name: OP70 - Exportación de datos
  - name: OR11 - Eventos de Hoja de Pago
  - name: OR31 - Operaciones de Hoja de Pago
  - name: OR41 - Cargos
  - name: OR51 - Profesiones
  - name: OR61 - Escalas de Horarios
  - name: OR65 - Feriados
  - name: OR71 - Parentesco
  - name: OS41 - Campos Personalizados
  - name: OS51 - Estructuras de exportación de datos
  - name: OS91 - Planes
  - name: OS93 - Suscripciones
  - name: OW01 - Recursos de Workflow
  - name: OW02 - Personalización de Workflow
  - name: OW03 - Comité
  - name: OX01 - Empresas
  - name: OX02 - Unidades
  - name: OX03 - Cuentas
  - name: OX04 - Centros de Costo
  - name: OX05 - Actividades de Negocio
  - name: OX08 - Proyectos
  - name: OX10 - Actividades económicas
  - name: OX11 - Puntos de Expedición
  - name: OX12 - Timbrados y Expedidores
  - name: OX21 - Devengamientos
  - name: OX51 - Monedas
  - name: OX52 - Tipos de Cotización
  - name: OX54 - Tipos de Tributación
  - name: OX55 - Tipos de Documentos
  - name: OX56 - Operaciones
  - name: OX57 - Libros de Compra y Venta
  - name: OX61 - Modelos de Negocio
  - name: OX63 - Parámetros Migración de Modelo
  - name: OX66 - Estados Contables
  - name: OX71 - Clasificación de Bienes
  - name: OX81 - Bancos
  - name: OZ11 - Usuarios
  - name: OZ21 - Perfiles de Acceso
  - name: OZ31 - Permisos
  - name: OZ61 - Recursos
  - name: OZ81 - Certificados Digitales
  - name: CC51 - Diario
  - name: CF11 - Movimiento de Cuentas de Disponibilidades
  - name: CF51 - Movimiento Financiero de Entidades
  - name: CF61 - Recibos
  - name: CG11 - Posición de Contratos
  - name: CM51 - Planificación de Objetivos por cliente
  - name: CM52 - Planificación de Objetivos por Vendedor
  - name: CM61 - Productos Vendidos
  - name: CM71 - Campañas de marketing
  - name: CR51 - Actividades
  - name: CS31 - Saldos Físicos
  - name: CS51 - Lista de Precios
  - name: CS81 - Movimiento de Stock Físico
  - name: CS85 - Movimiento de Stock Contable
  - name: FB10 - Generar archivo Tesaka
  - name: FB30 - Recibir archivo Tesaka
  - name: FB40 - Generar Listado Nómina Salarial
  - name: FB55 - Exportación de comprobantes (res.90)
  - name: FB70 - Aranduka
  - name: FB80 - Documentos electrónicos
  - name: FM31 - Status de romaneos
  - name: FM41 - Enviar batch de romaneos
  - name: FM51 - Recibir batch de valoración de romaneos
  - name: FM61 - Enviar batch de facturas POD
  - name: RP21 - Insumos Agrícolas
  - name: RP71 - Lista de Precios
  - name: RP81 - Estados Fenológicos
  - name: RC31 - Clientes
  - name: RC41 - Inmuebles
  - name: RC51 - Otros Bienes
  - name: RC55 - Actividades
  - name: RC61 - Mediciones de Áreas
  - name: RC71 - Historial de Checkin
  - name: RC81 - Restricciones de Entidades por Usuario
  - name: RV31 - Planificación Comercial
  - name: RV51 - Cotizaciones de Monedas
  - name: RV61 - Pedidos
  - name: RV62 - Cancelación de Pedidos
  - name: RV71 - Campañas de marketing
  - name: RV81 - Canje de premios y cashback

paths:
  /Data?recurso=AQ21:
    get:
      tags:
        - AQ21 - Proyectos de Zafra
      summary: Listar Proyectos de Zafra
      description: Obtiene todos los registros de Proyectos de Zafra. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AQ21

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - id: 123
                      Fecha: "2026-04-17"
                      Zafra_id: 123 # Zafra
                      Unidad_id: 123 # Unidad
                      Zafra_txt: "ABCD"
                      Unidad_txt: "ABCD"

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - id: 123
                        Fecha: "2026-04-17"
                        Zafra_id: 123 # Zafra
                        Unidad_id: 123 # Unidad
                        Zafra_txt: "ABCD"
                        Unidad_txt: "ABCD"
    post:
      tags:
        - AQ21 - Proyectos de Zafra
      summary: Agregar Proyectos de Zafra
      description: Crea un nuevo registro de Proyectos de Zafra en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Fecha: "2026-04-17"
              Zafra_id: 123 # Zafra
              Unidad_id: 123 # Unidad
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - AQ21 - Proyectos de Zafra
      summary: Actualizar Proyectos de Zafra
      description: Actualiza un registro de Proyectos de Zafra
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Fecha: "2026-04-17"
              Zafra_id: 123 # Zafra
              Unidad_id: 123 # Unidad
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=AQ31:
    get:
      tags:
        - AQ31 - Recomendaciones de Aplicación
      summary: Listar Recomendaciones de Aplicación
      description: Obtiene todos los registros de Recomendaciones de Aplicación. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AQ31

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - id: 123
                      Fecha: "2026-04-17"
                      Unidad_id: 123 # Unidad
                      Zafra_id: 123 # Zafra
                      Fenolog_id: 123 # Estado Fenológico
                      Parcela_id: 123 # Parcela
                      Area_ro: 123.45 # Area (ha)
                      Funcionario_id: 123 # Funcionario
                      Temp_min: 123 # Temperatura mínima  ºC
                      Temp_max: 123 # Temperatura máxima  ºC
                      Hum_min: 123 # Humedad mínima  %
                      Hum_max: 123 # Humedad máxima  %
                      Viento_max: 123 # Velocidad máxima del viento  km/h
                      Obs: "ABCD" # Observaciones
                      Unidad_txt: "ABCD"
                      Zafra_txt: "ABCD"
                      Fenolog_txt: "ABCD"
                      Parcela_txt: "ABCD"
                      Entidad_txt: "ABCD"

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - id: 123
                        Fecha: "2026-04-17"
                        Unidad_id: 123 # Unidad
                        Zafra_id: 123 # Zafra
                        Fenolog_id: 123 # Estado Fenológico
                        Parcela_id: 123 # Parcela
                        Area_ro: 123.45 # Area (ha)
                        Funcionario_id: 123 # Funcionario
                        Temp_min: 123 # Temperatura mínima  ºC
                        Temp_max: 123 # Temperatura máxima  ºC
                        Hum_min: 123 # Humedad mínima  %
                        Hum_max: 123 # Humedad máxima  %
                        Viento_max: 123 # Velocidad máxima del viento  km/h
                        Obs: "ABCD" # Observaciones
                        Unidad_txt: "ABCD"
                        Zafra_txt: "ABCD"
                        Fenolog_txt: "ABCD"
                        Parcela_txt: "ABCD"
                        Entidad_txt: "ABCD"
    post:
      tags:
        - AQ31 - Recomendaciones de Aplicación
      summary: Agregar Recomendaciones de Aplicación
      description: Crea un nuevo registro de Recomendaciones de Aplicación en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Fecha: "2026-04-17"
              Unidad_id: 123 # Unidad
              Zafra_id: 123 # Zafra
              Fenolog_id: 123 # Estado Fenológico
              Parcela_id: 123 # Parcela
              Funcionario_id: 123 # Funcionario
              Temp_min: 123 # Temperatura mínima  ºC
              Temp_max: 123 # Temperatura máxima  ºC
              Hum_min: 123 # Humedad mínima  %
              Hum_max: 123 # Humedad máxima  %
              Viento_max: 123 # Velocidad máxima del viento  km/h
              Obs: "ABCD" # Observaciones
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - AQ31 - Recomendaciones de Aplicación
      summary: Actualizar Recomendaciones de Aplicación
      description: Actualiza un registro de Recomendaciones de Aplicación
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Fecha: "2026-04-17"
              Unidad_id: 123 # Unidad
              Zafra_id: 123 # Zafra
              Fenolog_id: 123 # Estado Fenológico
              Parcela_id: 123 # Parcela
              Funcionario_id: 123 # Funcionario
              Temp_min: 123 # Temperatura mínima  ºC
              Temp_max: 123 # Temperatura máxima  ºC
              Hum_min: 123 # Humedad mínima  %
              Hum_max: 123 # Humedad máxima  %
              Viento_max: 123 # Velocidad máxima del viento  km/h
              Obs: "ABCD" # Observaciones
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=AQ71:
    get:
      tags:
        - AQ71 - Lluvia
      summary: Listar Lluvia
      description: Obtiene todos los registros de Lluvia. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AQ71

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - id: 123
                      Fecha: "2026-04-17"
                      Hora: "ABCD" # Hora recolección
                      Estacion_id: 123 # Estación pluviométrica
                      Precipitacion: 123 # Precipitación
                      Zafra_id: 123 # Zafra
                      Estacion_txt: "ABCD"
                      Empresa_txt: "ABCD"
                      Zafra_txt: "ABCD"

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - id: 123
                        Fecha: "2026-04-17"
                        Hora: "ABCD" # Hora recolección
                        Estacion_id: 123 # Estación pluviométrica
                        Precipitacion: 123 # Precipitación
                        Zafra_id: 123 # Zafra
                        Estacion_txt: "ABCD"
                        Empresa_txt: "ABCD"
                        Zafra_txt: "ABCD"
    post:
      tags:
        - AQ71 - Lluvia
      summary: Agregar Lluvia
      description: Crea un nuevo registro de Lluvia en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Fecha: "2026-04-17"
              Hora: "ABCD" # Hora recolección
              Estacion_id: 123 # Estación pluviométrica
              Precipitacion: 123 # Precipitación
              Zafra_id: 123 # Zafra
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - AQ71 - Lluvia
      summary: Actualizar Lluvia
      description: Actualiza un registro de Lluvia
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Fecha: "2026-04-17"
              Hora: "ABCD" # Hora recolección
              Estacion_id: 123 # Estación pluviométrica
              Precipitacion: 123 # Precipitación
              Zafra_id: 123 # Zafra
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=OG31:
    get:
      tags:
        - OG31 - Plagas
      summary: Listar Plagas
      description: Obtiene todos los registros de Plagas. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: OG31

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - id: 123
                      Descripcion_cb: "ABCD" # Descripción
                      Empresa_txt: "ABCD"

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - id: 123
                        Descripcion_cb: "ABCD" # Descripción
                        Empresa_txt: "ABCD"
    post:
      tags:
        - OG31 - Plagas
      summary: Agregar Plagas
      description: Crea un nuevo registro de Plagas en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb: "ABCD" # Descripción
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - OG31 - Plagas
      summary: Actualizar Plagas
      description: Actualiza un registro de Plagas
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb: "ABCD" # Descripción
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=OG41:
    get:
      tags:
        - OG41 - Estados Fenológicos
      summary: Listar Estados Fenológicos
      description: Obtiene todos los registros de Estados Fenológicos. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: OG41

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - id: 123
                      Descripcion_cb: "ABCD" # Descripción

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - id: 123
                        Descripcion_cb: "ABCD" # Descripción
    post:
      tags:
        - OG41 - Estados Fenológicos
      summary: Agregar Estados Fenológicos
      description: Crea un nuevo registro de Estados Fenológicos en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb: "ABCD" # Descripción
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - OG41 - Estados Fenológicos
      summary: Actualizar Estados Fenológicos
      description: Actualiza un registro de Estados Fenológicos
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb: "ABCD" # Descripción
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=OG71:
    get:
      tags:
        - OG71 - Estaciones pluviométricas
      summary: Listar Estaciones pluviométricas
      description: Obtiene todos los registros de Estaciones pluviométricas. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: OG71

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - id: 123
                      Descripcion_cb: "ABCD" # Descripción
                      Empresa_txt: "ABCD"

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - id: 123
                        Descripcion_cb: "ABCD" # Descripción
                        Empresa_txt: "ABCD"
    post:
      tags:
        - OG71 - Estaciones pluviométricas
      summary: Agregar Estaciones pluviométricas
      description: Crea un nuevo registro de Estaciones pluviométricas en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb: "ABCD" # Descripción
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - OG71 - Estaciones pluviométricas
      summary: Actualizar Estaciones pluviométricas
      description: Actualiza un registro de Estaciones pluviométricas
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb: "ABCD" # Descripción
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=OK01:
    get:
      tags:
        - OK01 - Empresas
      summary: Listar Empresas
      description: Obtiene todos los registros de Empresas. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: OK01

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - Cantidad_unidades_ro: "ABCD" # Cantidad de Unidades
                      Cantidad_usuarios_ro: "ABCD" # Cantidad de Usuarios
                      Descripcion_cb: "ABCD" # Descripción
                      Implantacion: "2026-04-17" # Fecha Inicial de Validaciones
                      Saldo_sn: "ABCD" # Controla saldo de cuentas corrientes
                      Exportador_sn: "ABCD" # Exportador
                      Actualiza_mon_hd: "ABCD" # Actualización de Cotización Monetária
                      Num_senave: "ABCD" # Número SENAVE de la Empresa
                      Ing_nombre: "ABCD" # Ingeniero Agrónomo Responsable
                      Ing_matricula: "ABCD" # Matrícula Ingeniero
                      Ing_senave: "ABCD" # Número SENAVE del Ingeniero
                      Imp_comp_sn: "ABCD" # Imprimir comprobantes de lanzamiento
                      Moneda_id: 123 # Moneda Padrón
                      Precio_minimo_sn: "ABCD" # Permite precio abajo del mínimo para ventas de directores
                      Pedido_sin_stock_sn: "ABCD" # Permite aplicar pedido de venta sin disponibilidad futura de stock
                      Padron_conversion_moneda: "ABCD" # Padrón de conversión entre monedas
                      Diferencia_cambio_baja_sn: "ABCD" # Generar diferencia de cambio en baja de títulos
                      Restablecer_limite_sn: "ABCD" # Restablecer límite de crédito al bajar los títulos
                      Orden_baja_titulos_venc: "ABCD" # Orden de baja de títulos vencidos
                      Orden_baja_titulos_a_venc: "ABCD" # Orden de baja de títulos a vencer
                      Comision_disponible: "ABCD" # Disponibilizar comisiones
                      Genera_comision: "ABCD" # Generar comisiones
                      Base_calc_renta: "ABCD" # Base de Calculo para Rentabilidad
                      Retencion_iva_limite: 123.45 # Límite Retención de IVA
                      Ret_contado_automaticamente_sn: "ABCD" # Retener IVA automáticamente cuando
                      Nacionalidad_id: 123 # Nacionalidad
                      Ruc_id: 123 # RUC de la Empresa
                      Impuesto: "ABCD" # Tipo de impuesto afectado
                      Modelo_id: 123 # Modelo de Negocio
                      Suscripcion_id: 123 # Suscripción
                      Inactivar_operator_sn: "ABCD" # Inactivar Diagnóstico del Operator
                      Cierre_diario_automatico_sn: "ABCD" # Cierre diario automático por AX71
                      Recalculo_sn: "ABCD" # Recalcular stock automáticamente
                      Calc_costo_pro: "ABCD" # Cálculo del costo promedio de stock
                      Control_stock_contable: "ABCD" # Control de Saldos de Stock Contable
                      Padron_costo_promedio: "ABCD" # Conversión del costo promedio de stock entre monedas
                      Valid_dep_un_sn: "ABCD" # Validar el vínculo entre depósito y unidad al movimentar stock
                      Vendedor_diferente_sn: "ABCD" # Permitir vendedor diferente del catastro de la cartera
                      Dias_traslado: 123 # Días para término de traslado
                      Regimen_especial_sn: "ABCD" # Régimen Especial
                      Valid_fech_dist_sn: "ABCD" # Permitir fecha movimiento y fecha documento distintas
                      Dia_limite_gasto: 123 # Día límite en el mes para carga de gastos del mes anterior
                      Asiento_desc_obte: "ABCD" # Asiento por descuentos obtenidos
                      Maturidad_ro: 123 # Maturidad en Gestión
                      Req_ubic_fact: "ABCD" # Exigir digitación de ubicación en facturas
                      Contr_flete_sn: "ABCD" # Exigir contratación de flete en remisión
                      Remision_pesaje_manual: "ABCD" # Remisión de granos con pesaje manual
                      Equipo_utilizado: "ABCD" # Equipos utilizados en remisión de granos
                      Planificacion_comercial: "ABCD" # Planificación comercial por
                      Metas_venta: "ABCD" # Metas de venta por
                      Almacenamiento_foto: "ABCD" # Almacenamiento de fotos
                      Almacenamiento_recibo_elect: "ABCD" # Almacenamiento de documentos electrónicos
                      Modelo_hoja_pago: "ABCD" # Modelo de impresión de hojas de pago
                      Ap_entidad_id: 123 # Entidad Aporte Patronal
                      Jurisdiccion_lc: "ABCD" # Jurisdicción y competencia de los juzgados
                      Facturacion_electronica: "ABCD" # Comunicación electrónica
                      Ambiente_facturacion_elect: "ABCD" # Ambiente de Comunicación Electrónica
                      Cod_seguridad_contribuyente: "ABCD" # Código de Seguridad del Contribuyente
                      Google_email_hd: "ABCD"
                      Google_drive_token_refresh_hd: "ABCD"
                      Sftp_ip_hd: "ABCD"
                      Sftp_login_hd: "ABCD"
                      Sftp_password_hd: "ABCD"
                      Sftp_carpeta_destino_hd: "ABCD"
                      Fecha_logo_hd: "ABCD" # Fecha anexo logo
                      Sg_compartir_apunte_sn_hd: "ABCD"
                      Imprimir_venc_lote_sn: "ABCD" # Imprimir el vencimiento de lotes en factura y remisión
                      Tesao_sn_hd: "ABCD"
                      Meta_token_acceso_hd: "ABCD"
                      Meta_business_id_hd: "ABCD"
                      Meta_ad_account_id_hd: "ABCD"
                      Checkin_distancia_limite: 123 # Límite de distancia del check-in (Metros)
                      Sharepoint_url_hd: "ABCD"
                      Sharepoint_carpeta_hd: "ABCD"
                      Sharepoint_client_tenant_hd: "ABCD"
                      Sharepoint_clientsecret_hd: "ABCD"
                      Sharepoint_authorization_code_hd: "ABCD"
                      Sharepoint_bearer_code_hd: "ABCD"
                      Comision_renegociaciones: "ABCD" # Comisión en renegociaciones
                      Moneda_txt: "ABCD"
                      Ruc_txt: "ABCD"
                      Modelo_txt: "ABCD"
                      APEntidad_txt: "ABCD"
                      Suscripcion_txt: "ABCD"
                      Nacionalidad_txt: "ABCD"

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Cantidad_unidades_ro: "ABCD" # Cantidad de Unidades
                        Cantidad_usuarios_ro: "ABCD" # Cantidad de Usuarios
                        Descripcion_cb: "ABCD" # Descripción
                        Implantacion: "2026-04-17" # Fecha Inicial de Validaciones
                        Saldo_sn: "ABCD" # Controla saldo de cuentas corrientes
                        Exportador_sn: "ABCD" # Exportador
                        Actualiza_mon_hd: "ABCD" # Actualización de Cotización Monetária
                        Num_senave: "ABCD" # Número SENAVE de la Empresa
                        Ing_nombre: "ABCD" # Ingeniero Agrónomo Responsable
                        Ing_matricula: "ABCD" # Matrícula Ingeniero
                        Ing_senave: "ABCD" # Número SENAVE del Ingeniero
                        Imp_comp_sn: "ABCD" # Imprimir comprobantes de lanzamiento
                        Moneda_id: 123 # Moneda Padrón
                        Precio_minimo_sn: "ABCD" # Permite precio abajo del mínimo para ventas de directores
                        Pedido_sin_stock_sn: "ABCD" # Permite aplicar pedido de venta sin disponibilidad futura de stock
                        Padron_conversion_moneda: "ABCD" # Padrón de conversión entre monedas
                        Diferencia_cambio_baja_sn: "ABCD" # Generar diferencia de cambio en baja de títulos
                        Restablecer_limite_sn: "ABCD" # Restablecer límite de crédito al bajar los títulos
                        Orden_baja_titulos_venc: "ABCD" # Orden de baja de títulos vencidos
                        Orden_baja_titulos_a_venc: "ABCD" # Orden de baja de títulos a vencer
                        Comision_disponible: "ABCD" # Disponibilizar comisiones
                        Genera_comision: "ABCD" # Generar comisiones
                        Base_calc_renta: "ABCD" # Base de Calculo para Rentabilidad
                        Retencion_iva_limite: 123.45 # Límite Retención de IVA
                        Ret_contado_automaticamente_sn: "ABCD" # Retener IVA automáticamente cuando
                        Nacionalidad_id: 123 # Nacionalidad
                        Ruc_id: 123 # RUC de la Empresa
                        Impuesto: "ABCD" # Tipo de impuesto afectado
                        Modelo_id: 123 # Modelo de Negocio
                        Suscripcion_id: 123 # Suscripción
                        Inactivar_operator_sn: "ABCD" # Inactivar Diagnóstico del Operator
                        Cierre_diario_automatico_sn: "ABCD" # Cierre diario automático por AX71
                        Recalculo_sn: "ABCD" # Recalcular stock automáticamente
                        Calc_costo_pro: "ABCD" # Cálculo del costo promedio de stock
                        Control_stock_contable: "ABCD" # Control de Saldos de Stock Contable
                        Padron_costo_promedio: "ABCD" # Conversión del costo promedio de stock entre monedas
                        Valid_dep_un_sn: "ABCD" # Validar el vínculo entre depósito y unidad al movimentar stock
                        Vendedor_diferente_sn: "ABCD" # Permitir vendedor diferente del catastro de la cartera
                        Dias_traslado: 123 # Días para término de traslado
                        Regimen_especial_sn: "ABCD" # Régimen Especial
                        Valid_fech_dist_sn: "ABCD" # Permitir fecha movimiento y fecha documento distintas
                        Dia_limite_gasto: 123 # Día límite en el mes para carga de gastos del mes anterior
                        Asiento_desc_obte: "ABCD" # Asiento por descuentos obtenidos
                        Maturidad_ro: 123 # Maturidad en Gestión
                        Req_ubic_fact: "ABCD" # Exigir digitación de ubicación en facturas
                        Contr_flete_sn: "ABCD" # Exigir contratación de flete en remisión
                        Remision_pesaje_manual: "ABCD" # Remisión de granos con pesaje manual
                        Equipo_utilizado: "ABCD" # Equipos utilizados en remisión de granos
                        Planificacion_comercial: "ABCD" # Planificación comercial por
                        Metas_venta: "ABCD" # Metas de venta por
                        Almacenamiento_foto: "ABCD" # Almacenamiento de fotos
                        Almacenamiento_recibo_elect: "ABCD" # Almacenamiento de documentos electrónicos
                        Modelo_hoja_pago: "ABCD" # Modelo de impresión de hojas de pago
                        Ap_entidad_id: 123 # Entidad Aporte Patronal
                        Jurisdiccion_lc: "ABCD" # Jurisdicción y competencia de los juzgados
                        Facturacion_electronica: "ABCD" # Comunicación electrónica
                        Ambiente_facturacion_elect: "ABCD" # Ambiente de Comunicación Electrónica
                        Cod_seguridad_contribuyente: "ABCD" # Código de Seguridad del Contribuyente
                        Google_email_hd: "ABCD"
                        Google_drive_token_refresh_hd: "ABCD"
                        Sftp_ip_hd: "ABCD"
                        Sftp_login_hd: "ABCD"
                        Sftp_password_hd: "ABCD"
                        Sftp_carpeta_destino_hd: "ABCD"
                        Fecha_logo_hd: "ABCD" # Fecha anexo logo
                        Sg_compartir_apunte_sn_hd: "ABCD"
                        Imprimir_venc_lote_sn: "ABCD" # Imprimir el vencimiento de lotes en factura y remisión
                        Tesao_sn_hd: "ABCD"
                        Meta_token_acceso_hd: "ABCD"
                        Meta_business_id_hd: "ABCD"
                        Meta_ad_account_id_hd: "ABCD"
                        Checkin_distancia_limite: 123 # Límite de distancia del check-in (Metros)
                        Sharepoint_url_hd: "ABCD"
                        Sharepoint_carpeta_hd: "ABCD"
                        Sharepoint_client_tenant_hd: "ABCD"
                        Sharepoint_clientsecret_hd: "ABCD"
                        Sharepoint_authorization_code_hd: "ABCD"
                        Sharepoint_bearer_code_hd: "ABCD"
                        Comision_renegociaciones: "ABCD" # Comisión en renegociaciones
                        Moneda_txt: "ABCD"
                        Ruc_txt: "ABCD"
                        Modelo_txt: "ABCD"
                        APEntidad_txt: "ABCD"
                        Suscripcion_txt: "ABCD"
                        Nacionalidad_txt: "ABCD"
    post:
      tags:
        - OK01 - Empresas
      summary: Agregar Empresas
      description: Crea un nuevo registro de Empresas en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb: "ABCD" # Descripción
              Implantacion: "2026-04-17" # Fecha Inicial de Validaciones
              Saldo_sn: "ABCD" # Controla saldo de cuentas corrientes
              Exportador_sn: "ABCD" # Exportador
              Actualiza_mon_hd: "ABCD" # Actualización de Cotización Monetária
              Num_senave: "ABCD" # Número SENAVE de la Empresa
              Ing_nombre: "ABCD" # Ingeniero Agrónomo Responsable
              Ing_matricula: "ABCD" # Matrícula Ingeniero
              Ing_senave: "ABCD" # Número SENAVE del Ingeniero
              Imp_comp_sn: "ABCD" # Imprimir comprobantes de lanzamiento
              Moneda_id: 123 # Moneda Padrón
              Precio_minimo_sn: "ABCD" # Permite precio abajo del mínimo para ventas de directores
              Pedido_sin_stock_sn: "ABCD" # Permite aplicar pedido de venta sin disponibilidad futura de stock
              Padron_conversion_moneda: "ABCD" # Padrón de conversión entre monedas
              Diferencia_cambio_baja_sn: "ABCD" # Generar diferencia de cambio en baja de títulos
              Restablecer_limite_sn: "ABCD" # Restablecer límite de crédito al bajar los títulos
              Orden_baja_titulos_venc: "ABCD" # Orden de baja de títulos vencidos
              Orden_baja_titulos_a_venc: "ABCD" # Orden de baja de títulos a vencer
              Comision_disponible: "ABCD" # Disponibilizar comisiones
              Genera_comision: "ABCD" # Generar comisiones
              Base_calc_renta: "ABCD" # Base de Calculo para Rentabilidad
              Retencion_iva_limite: 123.45 # Límite Retención de IVA
              Ret_contado_automaticamente_sn: "ABCD" # Retener IVA automáticamente cuando
              Nacionalidad_id: 123 # Nacionalidad
              Ruc_id: 123 # RUC de la Empresa
              Impuesto: "ABCD" # Tipo de impuesto afectado
              Modelo_id: 123 # Modelo de Negocio
              Suscripcion_id: 123 # Suscripción
              Inactivar_operator_sn: "ABCD" # Inactivar Diagnóstico del Operator
              Cierre_diario_automatico_sn: "ABCD" # Cierre diario automático por AX71
              Recalculo_sn: "ABCD" # Recalcular stock automáticamente
              Calc_costo_pro: "ABCD" # Cálculo del costo promedio de stock
              Control_stock_contable: "ABCD" # Control de Saldos de Stock Contable
              Padron_costo_promedio: "ABCD" # Conversión del costo promedio de stock entre monedas
              Valid_dep_un_sn: "ABCD" # Validar el vínculo entre depósito y unidad al movimentar stock
              Vendedor_diferente_sn: "ABCD" # Permitir vendedor diferente del catastro de la cartera
              Dias_traslado: 123 # Días para término de traslado
              Regimen_especial_sn: "ABCD" # Régimen Especial
              Valid_fech_dist_sn: "ABCD" # Permitir fecha movimiento y fecha documento distintas
              Dia_limite_gasto: 123 # Día límite en el mes para carga de gastos del mes anterior
              Asiento_desc_obte: "ABCD" # Asiento por descuentos obtenidos
              Req_ubic_fact: "ABCD" # Exigir digitación de ubicación en facturas
              Contr_flete_sn: "ABCD" # Exigir contratación de flete en remisión
              Remision_pesaje_manual: "ABCD" # Remisión de granos con pesaje manual
              Equipo_utilizado: "ABCD" # Equipos utilizados en remisión de granos
              Planificacion_comercial: "ABCD" # Planificación comercial por
              Metas_venta: "ABCD" # Metas de venta por
              Almacenamiento_foto: "ABCD" # Almacenamiento de fotos
              Almacenamiento_recibo_elect: "ABCD" # Almacenamiento de documentos electrónicos
              Modelo_hoja_pago: "ABCD" # Modelo de impresión de hojas de pago
              Ap_entidad_id: 123 # Entidad Aporte Patronal
              Jurisdiccion_lc: "ABCD" # Jurisdicción y competencia de los juzgados
              Facturacion_electronica: "ABCD" # Comunicación electrónica
              Ambiente_facturacion_elect: "ABCD" # Ambiente de Comunicación Electrónica
              Cod_seguridad_contribuyente: "ABCD" # Código de Seguridad del Contribuyente
              Google_email_hd: "ABCD"
              Google_drive_token_refresh_hd: "ABCD"
              Sftp_ip_hd: "ABCD"
              Sftp_login_hd: "ABCD"
              Sftp_password_hd: "ABCD"
              Sftp_carpeta_destino_hd: "ABCD"
              Fecha_logo_hd: "ABCD" # Fecha anexo logo
              Sg_compartir_apunte_sn_hd: "ABCD"
              Imprimir_venc_lote_sn: "ABCD" # Imprimir el vencimiento de lotes en factura y remisión
              Tesao_sn_hd: "ABCD"
              Meta_token_acceso_hd: "ABCD"
              Meta_business_id_hd: "ABCD"
              Meta_ad_account_id_hd: "ABCD"
              Checkin_distancia_limite: 123 # Límite de distancia del check-in (Metros)
              Sharepoint_url_hd: "ABCD"
              Sharepoint_carpeta_hd: "ABCD"
              Sharepoint_client_tenant_hd: "ABCD"
              Sharepoint_clientsecret_hd: "ABCD"
              Sharepoint_authorization_code_hd: "ABCD"
              Sharepoint_bearer_code_hd: "ABCD"
              Comision_renegociaciones: "ABCD" # Comisión en renegociaciones
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - OK01 - Empresas
      summary: Actualizar Empresas
      description: Actualiza un registro de Empresas
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb: "ABCD" # Descripción
              Implantacion: "2026-04-17" # Fecha Inicial de Validaciones
              Saldo_sn: "ABCD" # Controla saldo de cuentas corrientes
              Exportador_sn: "ABCD" # Exportador
              Actualiza_mon_hd: "ABCD" # Actualización de Cotización Monetária
              Num_senave: "ABCD" # Número SENAVE de la Empresa
              Ing_nombre: "ABCD" # Ingeniero Agrónomo Responsable
              Ing_matricula: "ABCD" # Matrícula Ingeniero
              Ing_senave: "ABCD" # Número SENAVE del Ingeniero
              Imp_comp_sn: "ABCD" # Imprimir comprobantes de lanzamiento
              Moneda_id: 123 # Moneda Padrón
              Precio_minimo_sn: "ABCD" # Permite precio abajo del mínimo para ventas de directores
              Pedido_sin_stock_sn: "ABCD" # Permite aplicar pedido de venta sin disponibilidad futura de stock
              Padron_conversion_moneda: "ABCD" # Padrón de conversión entre monedas
              Diferencia_cambio_baja_sn: "ABCD" # Generar diferencia de cambio en baja de títulos
              Restablecer_limite_sn: "ABCD" # Restablecer límite de crédito al bajar los títulos
              Orden_baja_titulos_venc: "ABCD" # Orden de baja de títulos vencidos
              Orden_baja_titulos_a_venc: "ABCD" # Orden de baja de títulos a vencer
              Comision_disponible: "ABCD" # Disponibilizar comisiones
              Genera_comision: "ABCD" # Generar comisiones
              Base_calc_renta: "ABCD" # Base de Calculo para Rentabilidad
              Retencion_iva_limite: 123.45 # Límite Retención de IVA
              Ret_contado_automaticamente_sn: "ABCD" # Retener IVA automáticamente cuando
              Nacionalidad_id: 123 # Nacionalidad
              Ruc_id: 123 # RUC de la Empresa
              Impuesto: "ABCD" # Tipo de impuesto afectado
              Modelo_id: 123 # Modelo de Negocio
              Suscripcion_id: 123 # Suscripción
              Inactivar_operator_sn: "ABCD" # Inactivar Diagnóstico del Operator
              Cierre_diario_automatico_sn: "ABCD" # Cierre diario automático por AX71
              Recalculo_sn: "ABCD" # Recalcular stock automáticamente
              Calc_costo_pro: "ABCD" # Cálculo del costo promedio de stock
              Control_stock_contable: "ABCD" # Control de Saldos de Stock Contable
              Padron_costo_promedio: "ABCD" # Conversión del costo promedio de stock entre monedas
              Valid_dep_un_sn: "ABCD" # Validar el vínculo entre depósito y unidad al movimentar stock
              Vendedor_diferente_sn: "ABCD" # Permitir vendedor diferente del catastro de la cartera
              Dias_traslado: 123 # Días para término de traslado
              Regimen_especial_sn: "ABCD" # Régimen Especial
              Valid_fech_dist_sn: "ABCD" # Permitir fecha movimiento y fecha documento distintas
              Dia_limite_gasto: 123 # Día límite en el mes para carga de gastos del mes anterior
              Asiento_desc_obte: "ABCD" # Asiento por descuentos obtenidos
              Req_ubic_fact: "ABCD" # Exigir digitación de ubicación en facturas
              Contr_flete_sn: "ABCD" # Exigir contratación de flete en remisión
              Remision_pesaje_manual: "ABCD" # Remisión de granos con pesaje manual
              Equipo_utilizado: "ABCD" # Equipos utilizados en remisión de granos
              Planificacion_comercial: "ABCD" # Planificación comercial por
              Metas_venta: "ABCD" # Metas de venta por
              Almacenamiento_foto: "ABCD" # Almacenamiento de fotos
              Almacenamiento_recibo_elect: "ABCD" # Almacenamiento de documentos electrónicos
              Modelo_hoja_pago: "ABCD" # Modelo de impresión de hojas de pago
              Ap_entidad_id: 123 # Entidad Aporte Patronal
              Jurisdiccion_lc: "ABCD" # Jurisdicción y competencia de los juzgados
              Facturacion_electronica: "ABCD" # Comunicación electrónica
              Ambiente_facturacion_elect: "ABCD" # Ambiente de Comunicación Electrónica
              Cod_seguridad_contribuyente: "ABCD" # Código de Seguridad del Contribuyente
              Google_email_hd: "ABCD"
              Google_drive_token_refresh_hd: "ABCD"
              Sftp_ip_hd: "ABCD"
              Sftp_login_hd: "ABCD"
              Sftp_password_hd: "ABCD"
              Sftp_carpeta_destino_hd: "ABCD"
              Fecha_logo_hd: "ABCD" # Fecha anexo logo
              Sg_compartir_apunte_sn_hd: "ABCD"
              Imprimir_venc_lote_sn: "ABCD" # Imprimir el vencimiento de lotes en factura y remisión
              Tesao_sn_hd: "ABCD"
              Meta_token_acceso_hd: "ABCD"
              Meta_business_id_hd: "ABCD"
              Meta_ad_account_id_hd: "ABCD"
              Checkin_distancia_limite: 123 # Límite de distancia del check-in (Metros)
              Sharepoint_url_hd: "ABCD"
              Sharepoint_carpeta_hd: "ABCD"
              Sharepoint_client_tenant_hd: "ABCD"
              Sharepoint_clientsecret_hd: "ABCD"
              Sharepoint_authorization_code_hd: "ABCD"
              Sharepoint_bearer_code_hd: "ABCD"
              Comision_renegociaciones: "ABCD" # Comisión en renegociaciones
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=OK11:
    get:
      tags:
        - OK11 - Unidades
      summary: Listar Unidades
      description: Obtiene todos los registros de Unidades. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: OK11

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - id: 123
                      Descripcion_cb: "ABCD" # Descripción
                      Direccion: "ABCD" # Dirección
                      Num_casa: "ABCD" # Número de casa
                      Localidad_id: 123 # Localidad
                      Telefono: "ABCD" # Teléfono
                      Email: "ABCD" # E-mail Principal
                      Email_docs_electronicos: "ABCD" # Direcciones de envío electrónico
                      Num_unidad: "ABCD" # Número Oficial de la Unidad
                      Patronal: "ABCD" # Número Patronal
                      Default_sn: "ABCD" # Selección Automática en Informes
                      Cuenta_id: 123 # Cuenta Sucursal
                      Inactivo_sn: "ABCD" # Inactivo
                      Permite_fact_unid_sn: "ABCD" # Permite facturación por otra unidad
                      Local_descarte: "ABCD" # Local de descarte para envases vacíos
                      Empresa_txt: "ABCD"
                      Localidad_txt: "ABCD"
                      Cuenta_txt: "ABCD"

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - id: 123
                        Descripcion_cb: "ABCD" # Descripción
                        Direccion: "ABCD" # Dirección
                        Num_casa: "ABCD" # Número de casa
                        Localidad_id: 123 # Localidad
                        Telefono: "ABCD" # Teléfono
                        Email: "ABCD" # E-mail Principal
                        Email_docs_electronicos: "ABCD" # Direcciones de envío electrónico
                        Num_unidad: "ABCD" # Número Oficial de la Unidad
                        Patronal: "ABCD" # Número Patronal
                        Default_sn: "ABCD" # Selección Automática en Informes
                        Cuenta_id: 123 # Cuenta Sucursal
                        Inactivo_sn: "ABCD" # Inactivo
                        Permite_fact_unid_sn: "ABCD" # Permite facturación por otra unidad
                        Local_descarte: "ABCD" # Local de descarte para envases vacíos
                        Empresa_txt: "ABCD"
                        Localidad_txt: "ABCD"
                        Cuenta_txt: "ABCD"
    post:
      tags:
        - OK11 - Unidades
      summary: Agregar Unidades
      description: Crea un nuevo registro de Unidades en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb: "ABCD" # Descripción
              Direccion: "ABCD" # Dirección
              Num_casa: "ABCD" # Número de casa
              Localidad_id: 123 # Localidad
              Telefono: "ABCD" # Teléfono
              Email: "ABCD" # E-mail Principal
              Email_docs_electronicos: "ABCD" # Direcciones de envío electrónico
              Num_unidad: "ABCD" # Número Oficial de la Unidad
              Patronal: "ABCD" # Número Patronal
              Default_sn: "ABCD" # Selección Automática en Informes
              Cuenta_id: 123 # Cuenta Sucursal
              Inactivo_sn: "ABCD" # Inactivo
              Permite_fact_unid_sn: "ABCD" # Permite facturación por otra unidad
              Local_descarte: "ABCD" # Local de descarte para envases vacíos
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - OK11 - Unidades
      summary: Actualizar Unidades
      description: Actualiza un registro de Unidades
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb: "ABCD" # Descripción
              Direccion: "ABCD" # Dirección
              Num_casa: "ABCD" # Número de casa
              Localidad_id: 123 # Localidad
              Telefono: "ABCD" # Teléfono
              Email: "ABCD" # E-mail Principal
              Email_docs_electronicos: "ABCD" # Direcciones de envío electrónico
              Num_unidad: "ABCD" # Número Oficial de la Unidad
              Patronal: "ABCD" # Número Patronal
              Default_sn: "ABCD" # Selección Automática en Informes
              Cuenta_id: 123 # Cuenta Sucursal
              Inactivo_sn: "ABCD" # Inactivo
              Permite_fact_unid_sn: "ABCD" # Permite facturación por otra unidad
              Local_descarte: "ABCD" # Local de descarte para envases vacíos
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=OK51:
    get:
      tags:
        - OK51 - Monedas
      summary: Listar Monedas
      description: Obtiene todos los registros de Monedas. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: OK51

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - Descripcion_cb_translated: "ABCD"
                      id: 123
                      Descripcion_cb: "ABCD" # Descripción
                      Simbolo: "ABCD" # Símbolo
                      Digitos: 123 # Dígitos
                      Moneda_padron_sn: "ABCD" # Moneda Padrón de Lanzamientos
                      Moneda_oficial_sn: "ABCD" # Moneda Oficial del País
                      Contabilidad_sn: "ABCD" # Genera Asientos Contables
                      Codigo_iso: "ABCD" # Código ISO 4217
                      Descripcion_iso: "ABCD" # Descripción ISO 4217

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Descripcion_cb_translated: "ABCD"
                        id: 123
                        Descripcion_cb: "ABCD" # Descripción
                        Simbolo: "ABCD" # Símbolo
                        Digitos: 123 # Dígitos
                        Moneda_padron_sn: "ABCD" # Moneda Padrón de Lanzamientos
                        Moneda_oficial_sn: "ABCD" # Moneda Oficial del País
                        Contabilidad_sn: "ABCD" # Genera Asientos Contables
                        Codigo_iso: "ABCD" # Código ISO 4217
                        Descripcion_iso: "ABCD" # Descripción ISO 4217
    post:
      tags:
        - OK51 - Monedas
      summary: Agregar Monedas
      description: Crea un nuevo registro de Monedas en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb_translated: "ABCD"
              Descripcion_cb: "ABCD" # Descripción
              Simbolo: "ABCD" # Símbolo
              Digitos: 123 # Dígitos
              Moneda_padron_sn: "ABCD" # Moneda Padrón de Lanzamientos
              Moneda_oficial_sn: "ABCD" # Moneda Oficial del País
              Contabilidad_sn: "ABCD" # Genera Asientos Contables
              Codigo_iso: "ABCD" # Código ISO 4217
              Descripcion_iso: "ABCD" # Descripción ISO 4217
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - OK51 - Monedas
      summary: Actualizar Monedas
      description: Actualiza un registro de Monedas
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_cb_translated: "ABCD"
              Descripcion_cb: "ABCD" # Descripción
              Simbolo: "ABCD" # Símbolo
              Digitos: 123 # Dígitos
              Moneda_padron_sn: "ABCD" # Moneda Padrón de Lanzamientos
              Moneda_oficial_sn: "ABCD" # Moneda Oficial del País
              Contabilidad_sn: "ABCD" # Genera Asientos Contables
              Codigo_iso: "ABCD" # Código ISO 4217
              Descripcion_iso: "ABCD" # Descripción ISO 4217
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=OK61:
    get:
      tags:
        - OK61 - Tipos de Cotización
      summary: Listar Tipos de Cotización
      description: Obtiene todos los registros de Tipos de Cotización. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: OK61

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - id: 123
                      Descripcion_hd_cb: "ABCD" # Descripción
                      Moneda_1_id: 123 # Una unidad de la moneda
                      Moneda_x_id: 123 # Es igual a X unidades de la moneda
                      Oficial_sn: "ABCD" # Cotización oficial
                      Porcentaje_dif_cambio: 123 # Porcentaje permitido para la diferencia cambial
                      Moneda_1_txt: "ABCD"
                      Moneda_x_txt: "ABCD"

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - id: 123
                        Descripcion_hd_cb: "ABCD" # Descripción
                        Moneda_1_id: 123 # Una unidad de la moneda
                        Moneda_x_id: 123 # Es igual a X unidades de la moneda
                        Oficial_sn: "ABCD" # Cotización oficial
                        Porcentaje_dif_cambio: 123 # Porcentaje permitido para la diferencia cambial
                        Moneda_1_txt: "ABCD"
                        Moneda_x_txt: "ABCD"
    post:
      tags:
        - OK61 - Tipos de Cotización
      summary: Agregar Tipos de Cotización
      description: Crea un nuevo registro de Tipos de Cotización en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_hd_cb: "ABCD" # Descripción
              Moneda_1_id: 123 # Una unidad de la moneda
              Moneda_x_id: 123 # Es igual a X unidades de la moneda
              Oficial_sn: "ABCD" # Cotización oficial
              Porcentaje_dif_cambio: 123 # Porcentaje permitido para la diferencia cambial
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - OK61 - Tipos de Cotización
      summary: Actualizar Tipos de Cotización
      description: Actualiza un registro de Tipos de Cotización
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Descripcion_hd_cb: "ABCD" # Descripción
              Moneda_1_id: 123 # Una unidad de la moneda
              Moneda_x_id: 123 # Es igual a X unidades de la moneda
              Oficial_sn: "ABCD" # Cotización oficial
              Porcentaje_dif_cambio: 123 # Porcentaje permitido para la diferencia cambial
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=BB11:
    get:
      tags:
        - BB11 - Inmuebles
      summary: Listar Inmuebles
      description: Obtiene todos los registros de Inmuebles. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: BB11

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - VoaClass_hd: "ABCD"
                      id: 123
                      Biene_tipo_id: 123 # Clasificación
                      Descripcion_cb: "ABCD" # Descripcion
                      Fecha_inicio: "2026-04-17" # Fecha Inicio de Operación
                      Unidad_id: 123 # Unidad
                      Cod_barra_uk: "ABCD" # Código de barras
                      Sector: "ABCD" # Sector
                      Moneda_id: 123 # Moneda
                      Valor_adquisicion: 123.45 # Valor de adquisición
                      Biene_tipo_txt: "ABCD"
                      Unidad_txt: "ABCD"
                      Moneda_txt: "ABCD"

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - VoaClass_hd: "ABCD"
                        id: 123
                        Biene_tipo_id: 123 # Clasificación
                        Descripcion_cb: "ABCD" # Descripcion
                        Fecha_inicio: "2026-04-17" # Fecha Inicio de Operación
                        Unidad_id: 123 # Unidad
                        Cod_barra_uk: "ABCD" # Código de barras
                        Sector: "ABCD" # Sector
                        Moneda_id: 123 # Moneda
                        Valor_adquisicion: 123.45 # Valor de adquisición
                        Biene_tipo_txt: "ABCD"
                        Unidad_txt: "ABCD"
                        Moneda_txt: "ABCD"
    post:
      tags:
        - BB11 - Inmuebles
      summary: Agregar Inmuebles
      description: Crea un nuevo registro de Inmuebles en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              VoaClass_hd: "ABCD"
              Biene_tipo_id: 123 # Clasificación
              Descripcion_cb: "ABCD" # Descripcion
              Fecha_inicio: "2026-04-17" # Fecha Inicio de Operación
              Unidad_id: 123 # Unidad
              Cod_barra_uk: "ABCD" # Código de barras
              Sector: "ABCD" # Sector
              Moneda_id: 123 # Moneda
              Valor_adquisicion: 123.45 # Valor de adquisición
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - BB11 - Inmuebles
      summary: Actualizar Inmuebles
      description: Actualiza un registro de Inmuebles
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              VoaClass_hd: "ABCD"
              Biene_tipo_id: 123 # Clasificación
              Descripcion_cb: "ABCD" # Descripcion
              Fecha_inicio: "2026-04-17" # Fecha Inicio de Operación
              Unidad_id: 123 # Unidad
              Cod_barra_uk: "ABCD" # Código de barras
              Sector: "ABCD" # Sector
              Moneda_id: 123 # Moneda
              Valor_adquisicion: 123.45 # Valor de adquisición
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=BB21:
    get:
      tags:
        - BB21 - Muebles y Equipos
      summary: Listar Muebles y Equipos
      description: Obtiene todos los registros de Muebles y Equipos. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: BB21

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0" para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el valor por defecto es de 100 registros; la cantidad límite para el parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                sin_paginacion:
                  summary: Ejemplo sin paginación (pagina = 0)
                  value:
                    - VoaClass_hd: "ABCD"
                      id: 123
                      Biene_tipo_id: 123 # Clasificación
                      Descripcion_cb: "ABCD" # Descripcion
                      Fecha_inicio: "2026-04-17" # Fecha Inicio de Operación
                      Unidad_id: 123 # Unidad
                      Cod_barra_uk: "ABCD" # Código de barras
                      Sector: "ABCD" # Sector
                      Moneda_id: 123 # Moneda
                      Valor_adquisicion: 123.45 # Valor de adquisición
                      Biene_tipo_txt: "ABCD"
                      Unidad_txt: "ABCD"
                      Moneda_txt: "ABCD"

                con_paginacion:
                  summary: Ejemplo con paginación
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - VoaClass_hd: "ABCD"
                        id: 123
                        Biene_tipo_id: 123 # Clasificación
                        Descripcion_cb: "ABCD" # Descripcion
                        Fecha_inicio: "2026-04-17" # Fecha Inicio de Operación
                        Unidad_id: 123 # Unidad
                        Cod_barra_uk: "ABCD" # Código de barras
                        Sector: "ABCD" # Sector
                        Moneda_id: 123 # Moneda
                        Valor_adquisicion: 123.45 # Valor de adquisición
                        Biene_tipo_txt: "ABCD"
                        Unidad_txt: "ABCD"
                        Moneda_txt: "ABCD"
    post:
      tags:
        - BB21 - Muebles y Equipos
      summary: Agregar Muebles y Equipos
      description: Crea un nuevo registro de Muebles y Equipos en Versat ERP.
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              VoaClass_hd: "ABCD"
              Biene_tipo_id: 123 # Clasificación
              Descripcion_cb: "ABCD" # Descripcion
              Fecha_inicio: "2026-04-17" # Fecha Inicio de Operación
              Unidad_id: 123 # Unidad
              Cod_barra_uk: "ABCD" # Código de barras
              Sector: "ABCD" # Sector
              Moneda_id: 123 # Moneda
              Valor_adquisicion: 123.45 # Valor de adquisición
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - BB21 - Muebles y Equipos
      summary: Actualizar Muebles y Equipos
      description: Actualiza un registro de Muebles y Equipos
      parameters:
        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              VoaClass_hd: "ABCD"
              Biene_tipo_id: 123 # Clasificación
              Descripcion_cb: "ABCD" # Descripcion
              Fecha_inicio: "2026-04-17" # Fecha Inicio de Operación
              Unidad_id: 123 # Unidad
              Cod_barra_uk: "ABCD" # Código de barras
              Sector: "ABCD" # Sector
              Moneda_id: 123 # Moneda
              Valor_adquisicion: 123.45 # Valor de adquisición
      responses:
        "200":
          description: "0123456789"

  /Data?recurso=BB31:
    get:
      tags:
        - BB31 - Vehículos y Maquinaria
      summary: Listar Vehículos y Maquinaria
      description: Obtiene todos los registros de Vehículos y Maquinaria. Permite filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: BB31

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede filtrar por mes y año de la siguiente forma 01/2026 o solo por el año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
[...]
