openapi: 3.0.3
info:
  title: Versat API
  version: 2026.04.21
  description: |
    La API de Versat permite acceder y manipular datos mediante el protocolo HTTPS, siguiendo el estándar RESTful.

    **Autenticación:** Todas las solicitudes requieren autenticación a través de encabezados HTTP. Se admiten los siguientes métodos:

    - Basic Auth: utilizando usuario y contraseña.

    - Bearer Token: utilizando un token generado en el ERP.

    **Permisos:** El acceso a los recursos está determinado por los permisos asignados al usuario dentro del sistema.

    **Importante:** No comparta sus credenciales ni tokens de acceso.
servers:
  - url: https://app.versat.ag/api/Polling

tags:
  - name: AF01 - Cotizaciones de Monedas
  - name: AF31 - Facturas
  - name: AF41 - Órdenes de Pago
  - name: AF51 - Recibos y Transacciones
  - name: AF61 - Pagarés
  - name: AF71 - Cheques
  - name: AF81 - Conciliación Bancaria
  - name: AF86 - Presupuesto Anual
  - name: AG01 - Cotizaciones del Mercado
  - name: AG10 - Contratos de Representación
  - name: AG11 - Contratos de Compra/Venta
  - name: AG12 - Cancelación de Contratos
  - name: AG17 - Orden de Fijación
  - name: AG21 - Fijación de Costos
  - name: AG25 - Rollover
  - name: AG31 - Fijación de Bushel
  - name: AG41 - Fijación de Precio
  - name: AG51 - Transferencias entre Clientes
  - name: AG61 - Contrataciones de Fletes
  - name: AG62 - Provisión de Pago de Flete
  - name: AG71 - Remisiones
  - name: AG72 - Pesos de Llegada
  - name: AG91 - Facturas
  - name: AI11 - Pedidos
  - name: AI15 - Cancelación de Pedidos
  - name: AI51 - Remisiones
  - name: AI71 - Facturas
  - name: AI81 - Pagarés
  - name: AI91 - Provisión de Pago de Comisiones
  - name: AM31 - Planificación Comercial
  - name: AM61 - Mediciones de Áreas
  - name: AM71 - Historial de Checkin
  - name: AO01 - Solicitudes de Crédito
  - name: AO40 - Protocolos de Facturas
  - name: AO41 - Protocolos de Pagarés
  - name: AO42 - Protocolos de Contratos
  - name: AO43 - Protocolos de Fijaciones
  - name: AO44 - Protocolos de Cheques
  - name: AO81 - Renegociación de Vencimientos
  - name: AP31 - Consumo Interno
  - name: AP41 - Orden de Producción
  - name: AP51 - Entradas de Producción en Serie
  - name: AP61 - Cierre de Orden de Producción
  - name: AP71 - Cierre de Producción Agrícola
  - name: AP81 - Transformación de Productos
  - name: AQ21 - Proyectos de Zafra
  - name: AQ31 - Recomendaciones de Aplicación
  - name: AQ71 - Lluvia
  - name: AR05 - Contratos de Trabajo
  - name: AR11 - Hoja de Pago
  - name: AR51 - Solicitud de vacaciones
  - name: AX01 - Lanzamientos en el Diario
  - name: AX41 - Aperturas de Despachos
  - name: AX45 - Cierres de Despachos
  - name: AX51 - Actualizaciones Monetarias
  - name: AX61 - Revalúo y Depreciación
  - name: AX71 - Cierre de Periodo (mensual o diario)
  - name: AX81 - Cierre de Ejercicio
  - name: AX82 - Apertura de Ejercicio
  - name: AX85 - Auditoría
  - name: BA13 - Chapas
  - name: BA15 - Choferes y propietarios de vehículos
  - name: BA31 - Entidades
  - name: BA32 - Entidades - Inmuebles
  - name: BA33 - Entidades - Otros bienes
  - name: BA37 - Actividades
  - name: BA41 - Restricciones de Entidades por Usuario
  - name: BA51 - Registro Único de Contribuyentes
  - name: BB11 - Inmuebles
  - name: BB21 - Muebles y Equipos
  - name: BB31 - Vehículos y Maquinaria
  - name: BP41 - Materiales
  - name: BP51 - Insumos Agrícolas
  - name: BP52 - Granos
  - name: BP61 - Servicios
  - name: BP64 - Productos Elaborados
  - name: BP71 - Lista de Precios
  - name: OA01 - Mis Informes
  - name: OA03 - Depósitos
  - name: OA11 - Parcelas
  - name: OA21 - Zafras
  - name: OA22 - Culturas
  - name: OA28 - Secuencial de Pedidos
  - name: OA29 - Secuencial de Recibos de Cobro
  - name: OA30 - Secuencial de Pagarés
  - name: OA31 - Chequeras
  - name: OA38 - Formación de Precios
  - name: OA41 - Comisión Sobre Ventas
  - name: OA43 - Tipos de Actividades
  - name: OA45 - Tipos de Negociaciones
  - name: OA51 - Modelos de vehículos
  - name: OA57 - Condiciones de Pago
  - name: OA61 - Motivos Cancelación
  - name: OA62 - Motivos de operaciones
  - name: OA71 - Campañas de marketing
  - name: OA80 - Tipos de Identificaciones
  - name: OA81 - Tipos de Contactos
  - name: OA82 - Nacionalidades
  - name: OA83 - Países
  - name: OA84 - Departamentos
  - name: OA85 - Localidades
  - name: OA86 - Fases de Cultivo
  - name: OA91 - Localización de Stock
  - name: OB10 - Nombres Comerciales
  - name: OB16 - Presentación
  - name: OB32 - Grupos de Productos
  - name: OB33 - Grupos de Productos
  - name: OB35 - Unidades de Medidas
  - name: OB61 - Línea
  - name: OB65 - Restricciones de Líneas por Usuario
  - name: OB88 - Marca
  - name: OB89 - Principios Activos
  - name: OC23 - Calidad de Granos
  - name: OC24 - Tablas de Descuentos
  - name: OC25 - Tipos de Contratos de Granos
  - name: OC26 - Bases de Bushel
  - name: OC27 - Secuencial de Contratos
  - name: OC51 - Modalidades de Contratos
  - name: OE01 - Vendedores
  - name: OE51 - Macro Regiones
  - name: OE71 - Carteras
  - name: OF01 - Garantías
  - name: OG31 - Plagas
  - name: OG41 - Estados Fenológicos
  - name: OG71 - Estaciones pluviométricas
  - name: OK11 - Unidades
  - name: OK51 - Monedas
  - name: OK61 - Tipos de Cotización
  - name: OP30 - Integraciones SSO
  - name: OP50 - Webhooks
  - name: OR11 - Eventos de Hoja de Pago
  - name: OR31 - Operaciones de Hoja de Pago
  - name: OR41 - Cargos
  - name: OR51 - Profesiones
  - name: OR61 - Escalas de Horarios
  - name: OR65 - Feriados
  - name: OR71 - Parentesco
  - name: OS41 - Campos Personalizados
  - name: OS51 - Estructuras de exportación de datos
  - name: OS91 - Planes
  - name: OS93 - Suscripciones
  - name: OW01 - Recursos de Workflow
  - name: OW02 - Personalización de Workflow
  - name: OW03 - Comité
  - name: OX02 - Unidades
  - name: OX03 - Cuentas
  - name: OX04 - Centros de Costo
  - name: OX05 - Actividades de Negocio
  - name: OX08 - Proyectos
  - name: OX10 - Actividades económicas
  - name: OX11 - Puntos de Expedición
  - name: OX12 - Timbrados y Expedidores
  - name: OX21 - Devengamientos
  - name: OX51 - Monedas
  - name: OX52 - Tipos de Cotización
  - name: OX54 - Tipos de Tributación
  - name: OX55 - Tipos de Documentos
  - name: OX56 - Operaciones
  - name: OX57 - Libros de Compra y Venta
  - name: OX61 - Modelos de Negocio
  - name: OX63 - Parámetros Migración de Modelo
  - name: OX66 - Estados Contables
  - name: OX71 - Clasificación de Bienes
  - name: OX81 - Bancos
  - name: OZ21 - Perfiles de Acceso
  - name: OZ31 - Permisos
  - name: OZ61 - Recursos
  - name: CC51 - Diario
  - name: CF11 - Movimiento de Cuentas de Disponibilidades
  - name: CF51 - Movimiento Financiero de Entidades
  - name: CF61 - Recibos
  - name: CG11 - Posición de Contratos
  - name: CM51 - Planificación de Objetivos por cliente
  - name: CM52 - Planificación de Objetivos por Vendedor
  - name: CM61 - Productos Vendidos
  - name: CM71 - Campañas de marketing
  - name: CR51 - Actividades
  - name: CS31 - Saldos Físicos
  - name: CS51 - Lista de Precios
  - name: CS81 - Movimiento de Stock Físico
  - name: CS85 - Movimiento de Stock Contable
  - name: FB70 - Aranduka
  - name: FB80 - Documentos electrónicos
  - name: FM31 - Status de romaneos
  - name: RP21 - Insumos Agrícolas
  - name: RP71 - Lista de Precios
  - name: RP81 - Estados Fenológicos
  - name: RC31 - Clientes
  - name: RC41 - Inmuebles
  - name: RC51 - Otros Bienes
  - name: RC55 - Actividades
  - name: RC61 - Mediciones de Áreas
  - name: RC71 - Historial de Checkin
  - name: RC81 - Restricciones de Entidades por Usuario
  - name: RV31 - Planificación Comercial
  - name: RV51 - Cotizaciones de Monedas
  - name: RV61 - Pedidos
  - name: RV62 - Cancelación de Pedidos
  - name: RV71 - Campañas de marketing
  - name: RV81 - Canje de premios y cashback
  - name: Analytics

paths:
  /AF01:
    get:
      tags:
        - AF01 - Cotizaciones de Monedas
      summary: Listar Cotizaciones de Monedas
      description: Obtiene todos los registros de Cotizaciones de Monedas. Permite
        filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF01

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede
            filtrar por mes y año de la siguiente forma 01/2026 o solo por el
            año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0"
            para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el
            valor por defecto es de 100 registros; la cantidad límite para el
            parámetro es de 1000.

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                cabecera:
                  summary: Clase cabecera Cotizacion
                  value:
                    - id: 123
                      Fecha: "2026-04-21"
                      Cotizacion_tipo_id: 123 # Tipo
                      Compra: 123.45
                      Venta: 123.45
                      Cotizacion_tipo_txt: "ABCD"
                      Empresa_txt: "ABCD"
                cabecera_con_paginacion:
                  summary: Clase cabecera (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - id: 123
                        Fecha: "2026-04-21"
                        Cotizacion_tipo_id: 123 # Tipo
                        Compra: 123.45
                        Venta: 123.45
                        Cotizacion_tipo_txt: "ABCD"
                        Empresa_txt: "ABCD"
    post:
      tags:
        - AF01 - Cotizaciones de Monedas
      summary: Agregar Cotizaciones de Monedas
      description: Crea un nuevo registro de Cotizaciones de Monedas en Versat ERP.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF01

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              cabecera:
                summary: Clase cabecera Cotizacion
                value:
                  - Fecha: "2026-04-21"
                    Cotizacion_tipo_id: 123 # Tipo
                    Compra: 123.45
                    Venta: 123.45
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - AF01 - Cotizaciones de Monedas
      summary: Actualizar Cotizaciones de Monedas
      description: Actualiza un registro de Cotizaciones de Monedas
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF01

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              cabecera:
                summary: Clase cabecera Cotizacion
                value:
                  - Fecha: "2026-04-21"
                    Cotizacion_tipo_id: 123 # Tipo
                    Compra: 123.45
                    Venta: 123.45
      responses:
        "200":
          description: "0123456789"

  /AF31:
    get:
      tags:
        - AF31 - Facturas
      summary: Listar Facturas
      description: Obtiene todos los registros de Facturas. Permite filtrar resultados
        mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF31

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede
            filtrar por mes y año de la siguiente forma 01/2026 o solo por el
            año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0"
            para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el
            valor por defecto es de 100 registros; la cantidad límite para el
            parámetro es de 1000.

        - name: detalle
          in: query
          required: false
          schema:
            type: string
            example: Factura_clasificacion
          description: Ingrese el nombre de la clase que desea consultar. Ejemplo
            Factura_clasificacion, Factura_cuota, Factura_baja,
            Factura_retencion, Factura_flete

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                cabecera:
                  summary: Clase cabecera Factura_financiero
                  value:
                    - Status: "ABCD"
                      Caja_mov_hd: "ABCD"
                      Padron_3_sn_hd: "ABCD"
                      Cuenta_tipo_hd: "ABCD"
                      descripcion_hd_cb: "ABCD"
                      Total_hd: 123.45
                      Gravada_hd: 123.45
                      Iva_hd: 123.45
                      id: 123
                      Fecha: "2026-04-21" # Fecha de Movimiento
                      Fecha_doc: "2026-04-21" # Fecha del Documento
                      Documento_tipo_id: 123 # Tipo de Documento
                      Operacion_doc_id: 123 # Operación
                      Entidad_id: 123 # Entidad
                      Entidad_ubicacion_id: 123 # Ubicación
                      Zafra_id: 123 # Zafra
                      Ctb_proyecto_id: 123 # Proyecto
                      Unidad_id: 123 # Unidad de Lanzamiento
                      Doc_num: "ABCD" # Número Documento
                      Timbrado_id: 123 # Timbrado
                      Codigo_control_elec: "ABCD" # Código de control (CDC)
                      Deposito_id: 123 # Depósito
                      Factura_ref_id: 123 # Factura de Referencia
                      Contrato_id: 123 # Contrato
                      Chapa_id: 123 # Chapa
                      Chofer_id: 123 # Chofer
                      Transportadora_id: 123 # Transportadora
                      Emision_doc_hd: "ABCD"
                      Moneda_doc_id: 123 # Moneda del Documento
                      Moneda_id: 123 # Moneda de Movimiento
                      Valor_mov: 123.45 # Total del Movimiento
                      Cambio_man_sn: "ABCD" # Cambio Manual 
                      Cambio: 123.45 # Tasa de Cambio
                      Condicion_id: 123 # Condición de Pago
                      Cuenta_id: 123 # Cuenta Financiera
                      Origen_nombre_hd: "ABCD"
                      Cheque_id: 123 # Cheque
                      Obs: "ABCD" # Observaciones
                      Concepto: "ABCD"
                      Apertura_despacho_sn_hd: "ABCD"
                      Pestanha_retencion_hd: "ABCD"
                      Creacion_hd: "2026-04-21" # Fecha de creación del registro
                      Ult_mod_hd: "2026-04-21" # Ultima modificación del registro
                      Ult_usuario_hd_id: 123 # Ultimo usuario que modifico el registro
                      Voa_class: "ABCD"
                      Moneda_txt: "ABCD"
                      Zafra_txt: "ABCD"
                      Deposito_txt: "ABCD"
                      Entidad_ubicacion_txt: "ABCD"
                      Contrato_txt: "ABCD"
                      Unidad_txt: "ABCD"
                      Transportadora_txt: "ABCD"
                      Documento_tipo_txt: "ABCD"
                      Operacion_doc_txt: "ABCD"
                      Condicion_txt: "ABCD"
                      Cuenta_txt: "ABCD"
                      Factura_ref_txt: "ABCD"
                      Cheque_txt: "ABCD"
                      Entidad_txt: "ABCD"
                      Timbrado_txt: "ABCD"
                      Chapa_txt: "ABCD"
                      Chofer_txt: "ABCD"
                      Moneda_doc_txt: "ABCD"
                      Ctb_proyecto_txt: "ABCD"
                      Ult_usuario_hd_txt: "ABCD"
                detalle_Factura_clasificacion:
                  summary: Clase detalle Factura_clasificacion
                  value:
                    - Act_negocio_sn_hd: "ABCD"
                      Entidad_hd_id: 123
                      Cuenta_deveng_hd_id: 123
                      id: 123
                      Cuenta_id: 123 # Cuenta
                      Act_negocio_id: 123 # Actividad de Negocio 
                      Tributacion_id: 123 # Tributación
                      Valor: 123.45
                      Iva_ro: 123.45 # IVA
                      Factura_id: 123
                      Unidad_id: 123 # Unidad
                      Funcionario_id: 123 # Funcionario
                      Biene_id: 123 # Bien(Activo Fijo)
                      Kilometraje: 123.45 # Kilometraje/Hora máquina (actual) 
                      Cantidad_combustible: 123.45 # Cantidad combustible cargado
                      Tipo_gasto: "ABCD" # Tipo de Gasto
                      Obs: "ABCD" # Observación
                      Valor_base_hd: 123.45
                      Factura_txt: "ABCD"
                      Cuenta_txt: "ABCD"
                      Tributacion_txt: "ABCD"
                      Funcionario_txt: "ABCD"
                      Biene_txt: "ABCD"
                      Unidad_txt: "ABCD"
                      Act_negocio_txt: "ABCD"
                detalle_Factura_cuota:
                  summary: Clase detalle Factura_cuota
                  value:
                    - Factura_id: 123
                      Pagare_id: 123 # Pagaré
                      Factura_txt: "ABCD"
                      Pagare_txt: "ABCD"
                      id: 123
                      Vencimiento: "2026-04-21"
                      Valor: 123.45
                      Voa_class: "ABCD"
                detalle_Factura_baja:
                  summary: Clase detalle Factura_baja
                  value:
                    - Descripcion_hd_cb: "ABCD"
                      Unidad_ro: "ABCD" # Unidad
                      id: 123
                      Factura_id: 123
                      Flujo_caja_id: 123 # Titulo
                      Valor_baja: 123.45 # Valor Baja
                      Tipomov_ro: "ABCD" # Movimiento
                      Cotizacion_ro: 123.45 # Cotización
                      Valor_convertido_ro: 123.45 # Valor Convertido
                      Iva_ro: 123.45 # IVA
                      Flujo_caja_txt: "ABCD"
                      Factura_txt: "ABCD"
                detalle_Factura_retencion:
                  summary: Clase detalle Factura_retencion
                  value:
                    - Caja_mov_hd: "ABCD"
                      Padron_3_sn_hd: "ABCD"
                      Cuenta_tipo_hd: "ABCD"
                      descripcion_hd_cb: "ABCD"
                      Total_hd: 123.45
                      Gravada_hd: 123.45
                      Iva_hd: 123.45
                      id: 123
                      Fecha: "2026-04-21" # Fecha de Movimiento
                      Fecha_doc: "2026-04-21" # Fecha del Documento
                      Documento_tipo_id: 123 # Tipo de Documento
                      Operacion_doc_id: 123 # Operación
                      Entidad_id: 123 # Entidad
                      Entidad_ubicacion_id: 123 # Ubicación
                      Zafra_id: 123 # Zafra
                      Ctb_proyecto_id: 123 # Proyecto
                      Unidad_id: 123 # Unidad de Lanzamiento
                      Doc_num: "ABCD" # Número Documento
                      Timbrado_id: 123 # Timbrado
                      Codigo_control_elec: "ABCD" # Código de control (CDC)
                      Deposito_id: 123 # Depósito
                      Factura_ref_id: 123 # Factura de Referencia
                      Contrato_id: 123 # Contrato
                      Chapa_id: 123 # Chapa
                      Chofer_id: 123 # Chofer
                      Transportadora_id: 123 # Transportadora
                      Status: "ABCD"
                      Emision_doc_hd: "ABCD"
                      Moneda_doc_id: 123 # Moneda del Documento
                      Moneda_id: 123 # Moneda de Movimiento
                      Valor_mov: 123.45 # Total del Movimiento
                      Cambio_man_sn: "ABCD" # Cambio Manual 
                      Cambio: 123.45 # Tasa de Cambio
                      Condicion_id: 123 # Condición de Pago
                      Cuenta_id: 123 # Cuenta Financiera
                      Origen_nombre_hd: "ABCD"
                      Cheque_id: 123 # Cheque
                      Obs: "ABCD" # Observaciones
                      Concepto: "ABCD"
                      Apertura_despacho_sn_hd: "ABCD"
                      Pestanha_retencion_hd: "ABCD"
                      Creacion_hd: "2026-04-21" # Fecha de creación del registro
                      Ult_mod_hd: "2026-04-21" # Ultima modificación del registro
                      Ult_usuario_hd_id: 123 # Ultimo usuario que modifico el registro
                      Voa_class: "ABCD"
                      Moneda_txt: "ABCD"
                      Zafra_txt: "ABCD"
                      Deposito_txt: "ABCD"
                      Entidad_ubicacion_txt: "ABCD"
                      Contrato_txt: "ABCD"
                      Unidad_txt: "ABCD"
                      Transportadora_txt: "ABCD"
                      Documento_tipo_txt: "ABCD"
                      Operacion_doc_txt: "ABCD"
                      Condicion_txt: "ABCD"
                      Cuenta_txt: "ABCD"
                      Factura_ref_txt: "ABCD"
                      Cheque_txt: "ABCD"
                      Entidad_txt: "ABCD"
                      Timbrado_txt: "ABCD"
                      Chapa_txt: "ABCD"
                      Chofer_txt: "ABCD"
                      Moneda_doc_txt: "ABCD"
                      Ctb_proyecto_txt: "ABCD"
                      Ult_usuario_hd_txt: "ABCD"
                detalle_Factura_flete:
                  summary: Clase detalle Factura_flete
                  value:
                    - Act_negocio_sn_hd: "ABCD"
                      Centro_costo_sn_hd: "ABCD"
                      id: 123
                      Factura_id: 123
                      Obs: "ABCD" # Detalles
                      Valor: 123.45
                      Tributacion_id: 123 # Tributación
                      Iva_ro: 123.45 # IVA
                      Flete_tipo: "ABCD" # Tipo
                      Act_negocio_id: 123 # Actividad de Negocio 
                      Centro_costo_id: 123 # Centro de Costo 
                      Factura_txt: "ABCD"
                      Tributacion_txt: "ABCD"
                      Act_negocio_txt: "ABCD"
                      Centro_costo_txt: "ABCD"
                cabecera_con_paginacion:
                  summary: Clase cabecera (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Caja_mov_hd: "ABCD"
                        Padron_3_sn_hd: "ABCD"
                        Cuenta_tipo_hd: "ABCD"
                        descripcion_hd_cb: "ABCD"
                        Total_hd: 123.45
                        Gravada_hd: 123.45
                        Iva_hd: 123.45
                        id: 123
                        Fecha: "2026-04-21" # Fecha de Movimiento
                        Fecha_doc: "2026-04-21" # Fecha del Documento
                        Documento_tipo_id: 123 # Tipo de Documento
                        Operacion_doc_id: 123 # Operación
                        Entidad_id: 123 # Entidad
                        Entidad_ubicacion_id: 123 # Ubicación
                        Zafra_id: 123 # Zafra
                        Ctb_proyecto_id: 123 # Proyecto
                        Unidad_id: 123 # Unidad de Lanzamiento
                        Doc_num: "ABCD" # Número Documento
                        Timbrado_id: 123 # Timbrado
                        Codigo_control_elec: "ABCD" # Código de control (CDC)
                        Deposito_id: 123 # Depósito
                        Factura_ref_id: 123 # Factura de Referencia
                        Contrato_id: 123 # Contrato
                        Chapa_id: 123 # Chapa
                        Chofer_id: 123 # Chofer
                        Transportadora_id: 123 # Transportadora
                        Status: "ABCD"
                        Emision_doc_hd: "ABCD"
                        Moneda_doc_id: 123 # Moneda del Documento
                        Moneda_id: 123 # Moneda de Movimiento
                        Valor_mov: 123.45 # Total del Movimiento
                        Cambio_man_sn: "ABCD" # Cambio Manual 
                        Cambio: 123.45 # Tasa de Cambio
                        Condicion_id: 123 # Condición de Pago
                        Cuenta_id: 123 # Cuenta Financiera
                        Origen_nombre_hd: "ABCD"
                        Cheque_id: 123 # Cheque
                        Obs: "ABCD" # Observaciones
                        Concepto: "ABCD"
                        Apertura_despacho_sn_hd: "ABCD"
                        Pestanha_retencion_hd: "ABCD"
                        Creacion_hd: "2026-04-21" # Fecha de creación del registro
                        Ult_mod_hd: "2026-04-21" # Ultima modificación del registro
                        Ult_usuario_hd_id: 123 # Ultimo usuario que modifico el registro
                        Voa_class: "ABCD"
                        Moneda_txt: "ABCD"
                        Zafra_txt: "ABCD"
                        Deposito_txt: "ABCD"
                        Entidad_ubicacion_txt: "ABCD"
                        Contrato_txt: "ABCD"
                        Unidad_txt: "ABCD"
                        Transportadora_txt: "ABCD"
                        Documento_tipo_txt: "ABCD"
                        Operacion_doc_txt: "ABCD"
                        Condicion_txt: "ABCD"
                        Cuenta_txt: "ABCD"
                        Factura_ref_txt: "ABCD"
                        Cheque_txt: "ABCD"
                        Entidad_txt: "ABCD"
                        Timbrado_txt: "ABCD"
                        Chapa_txt: "ABCD"
                        Chofer_txt: "ABCD"
                        Moneda_doc_txt: "ABCD"
                        Ctb_proyecto_txt: "ABCD"
                        Ult_usuario_hd_txt: "ABCD"
                detalle_Factura_clasificacion_con_paginacion:
                  summary: Clase detalle Factura_clasificacion (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Act_negocio_sn_hd: "ABCD"
                        Entidad_hd_id: 123
                        Cuenta_deveng_hd_id: 123
                        id: 123
                        Cuenta_id: 123 # Cuenta
                        Act_negocio_id: 123 # Actividad de Negocio 
                        Tributacion_id: 123 # Tributación
                        Valor: 123.45
                        Iva_ro: 123.45 # IVA
                        Factura_id: 123
                        Unidad_id: 123 # Unidad
                        Funcionario_id: 123 # Funcionario
                        Biene_id: 123 # Bien(Activo Fijo)
                        Kilometraje: 123.45 # Kilometraje/Hora máquina (actual) 
                        Cantidad_combustible: 123.45 # Cantidad combustible cargado
                        Tipo_gasto: "ABCD" # Tipo de Gasto
                        Obs: "ABCD" # Observación
                        Valor_base_hd: 123.45
                        Factura_txt: "ABCD"
                        Cuenta_txt: "ABCD"
                        Tributacion_txt: "ABCD"
                        Funcionario_txt: "ABCD"
                        Biene_txt: "ABCD"
                        Unidad_txt: "ABCD"
                        Act_negocio_txt: "ABCD"
                detalle_Factura_cuota_con_paginacion:
                  summary: Clase detalle Factura_cuota (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Factura_id: 123
                        Pagare_id: 123 # Pagaré
                        Factura_txt: "ABCD"
                        Pagare_txt: "ABCD"
                        id: 123
                        Vencimiento: "2026-04-21"
                        Valor: 123.45
                        Voa_class: "ABCD"
                detalle_Factura_baja_con_paginacion:
                  summary: Clase detalle Factura_baja (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Descripcion_hd_cb: "ABCD"
                        Unidad_ro: "ABCD" # Unidad
                        id: 123
                        Factura_id: 123
                        Flujo_caja_id: 123 # Titulo
                        Valor_baja: 123.45 # Valor Baja
                        Tipomov_ro: "ABCD" # Movimiento
                        Cotizacion_ro: 123.45 # Cotización
                        Valor_convertido_ro: 123.45 # Valor Convertido
                        Iva_ro: 123.45 # IVA
                        Flujo_caja_txt: "ABCD"
                        Factura_txt: "ABCD"
                detalle_Factura_retencion_con_paginacion:
                  summary: Clase detalle Factura_retencion (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Caja_mov_hd: "ABCD"
                        Padron_3_sn_hd: "ABCD"
                        Cuenta_tipo_hd: "ABCD"
                        descripcion_hd_cb: "ABCD"
                        Total_hd: 123.45
                        Gravada_hd: 123.45
                        Iva_hd: 123.45
                        id: 123
                        Fecha: "2026-04-21" # Fecha de Movimiento
                        Fecha_doc: "2026-04-21" # Fecha del Documento
                        Documento_tipo_id: 123 # Tipo de Documento
                        Operacion_doc_id: 123 # Operación
                        Entidad_id: 123 # Entidad
                        Entidad_ubicacion_id: 123 # Ubicación
                        Zafra_id: 123 # Zafra
                        Ctb_proyecto_id: 123 # Proyecto
                        Unidad_id: 123 # Unidad de Lanzamiento
                        Doc_num: "ABCD" # Número Documento
                        Timbrado_id: 123 # Timbrado
                        Codigo_control_elec: "ABCD" # Código de control (CDC)
                        Deposito_id: 123 # Depósito
                        Factura_ref_id: 123 # Factura de Referencia
                        Contrato_id: 123 # Contrato
                        Chapa_id: 123 # Chapa
                        Chofer_id: 123 # Chofer
                        Transportadora_id: 123 # Transportadora
                        Status: "ABCD"
                        Emision_doc_hd: "ABCD"
                        Moneda_doc_id: 123 # Moneda del Documento
                        Moneda_id: 123 # Moneda de Movimiento
                        Valor_mov: 123.45 # Total del Movimiento
                        Cambio_man_sn: "ABCD" # Cambio Manual 
                        Cambio: 123.45 # Tasa de Cambio
                        Condicion_id: 123 # Condición de Pago
                        Cuenta_id: 123 # Cuenta Financiera
                        Origen_nombre_hd: "ABCD"
                        Cheque_id: 123 # Cheque
                        Obs: "ABCD" # Observaciones
                        Concepto: "ABCD"
                        Apertura_despacho_sn_hd: "ABCD"
                        Pestanha_retencion_hd: "ABCD"
                        Creacion_hd: "2026-04-21" # Fecha de creación del registro
                        Ult_mod_hd: "2026-04-21" # Ultima modificación del registro
                        Ult_usuario_hd_id: 123 # Ultimo usuario que modifico el registro
                        Voa_class: "ABCD"
                        Moneda_txt: "ABCD"
                        Zafra_txt: "ABCD"
                        Deposito_txt: "ABCD"
                        Entidad_ubicacion_txt: "ABCD"
                        Contrato_txt: "ABCD"
                        Unidad_txt: "ABCD"
                        Transportadora_txt: "ABCD"
                        Documento_tipo_txt: "ABCD"
                        Operacion_doc_txt: "ABCD"
                        Condicion_txt: "ABCD"
                        Cuenta_txt: "ABCD"
                        Factura_ref_txt: "ABCD"
                        Cheque_txt: "ABCD"
                        Entidad_txt: "ABCD"
                        Timbrado_txt: "ABCD"
                        Chapa_txt: "ABCD"
                        Chofer_txt: "ABCD"
                        Moneda_doc_txt: "ABCD"
                        Ctb_proyecto_txt: "ABCD"
                        Ult_usuario_hd_txt: "ABCD"
                detalle_Factura_flete_con_paginacion:
                  summary: Clase detalle Factura_flete (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Act_negocio_sn_hd: "ABCD"
                        Centro_costo_sn_hd: "ABCD"
                        id: 123
                        Factura_id: 123
                        Obs: "ABCD" # Detalles
                        Valor: 123.45
                        Tributacion_id: 123 # Tributación
                        Iva_ro: 123.45 # IVA
                        Flete_tipo: "ABCD" # Tipo
                        Act_negocio_id: 123 # Actividad de Negocio 
                        Centro_costo_id: 123 # Centro de Costo 
                        Factura_txt: "ABCD"
                        Tributacion_txt: "ABCD"
                        Act_negocio_txt: "ABCD"
                        Centro_costo_txt: "ABCD"
    post:
      tags:
        - AF31 - Facturas
      summary: Agregar Facturas
      description: Crea un nuevo registro de Facturas en Versat ERP.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF31

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL
        - name: operacion
          in: query
          required: false
          schema:
            type: string
            example: Aplicar
          description: Ingrese la operación que desea realizar. Ejemplo Aplicar,
            Desaplicar o Anular

        - name: ids
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID del registro, pudiendo pasar dos o más. Ejemplo 1,2,3

        - name: motivo
          in: query
          required: false
          schema:
            type: string
            example: Aplica desde API
          description: En el caso de las operaciones Anular y Desaplicar puede ingresar el
            motivo

        - name: detalle
          in: query
          required: false
          schema:
            type: string
            example: Factura_clasificacion
          description: Ingrese el nombre de la clase que desea consultar. Ejemplo
            Factura_clasificacion, Factura_cuota, Factura_baja,
            Factura_retencion, Factura_flete

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              cabecera:
                summary: Clase cabecera Factura_financiero
                value:
                  - Caja_mov_hd: "ABCD"
                    Padron_3_sn_hd: "ABCD"
                    Cuenta_tipo_hd: "ABCD"
                    descripcion_hd_cb: "ABCD"
                    Total_hd: 123.45
                    Gravada_hd: 123.45
                    Iva_hd: 123.45
                    Fecha: "2026-04-21" # Fecha de Movimiento
                    Fecha_doc: "2026-04-21" # Fecha del Documento
                    Documento_tipo_id: 123 # Tipo de Documento
                    Operacion_doc_id: 123 # Operación
                    Entidad_id: 123 # Entidad
                    Entidad_ubicacion_id: 123 # Ubicación
                    Zafra_id: 123 # Zafra
                    Ctb_proyecto_id: 123 # Proyecto
                    Unidad_id: 123 # Unidad de Lanzamiento
                    Doc_num: "ABCD" # Número Documento
                    Timbrado_id: 123 # Timbrado
                    Codigo_control_elec: "ABCD" # Código de control (CDC)
                    Deposito_id: 123 # Depósito
                    Factura_ref_id: 123 # Factura de Referencia
                    Contrato_id: 123 # Contrato
                    Chapa_id: 123 # Chapa
                    Chofer_id: 123 # Chofer
                    Transportadora_id: 123 # Transportadora
                    Status: "ABCD"
                    Emision_doc_hd: "ABCD"
                    Moneda_doc_id: 123 # Moneda del Documento
                    Moneda_id: 123 # Moneda de Movimiento
                    Valor_mov: 123.45 # Total del Movimiento
                    Cambio_man_sn: "ABCD" # Cambio Manual 
                    Cambio: 123.45 # Tasa de Cambio
                    Condicion_id: 123 # Condición de Pago
                    Cuenta_id: 123 # Cuenta Financiera
                    Origen_nombre_hd: "ABCD"
                    Cheque_id: 123 # Cheque
                    Obs: "ABCD" # Observaciones
                    Concepto: "ABCD"
                    Apertura_despacho_sn_hd: "ABCD"
                    Pestanha_retencion_hd: "ABCD"
                    Voa_class: "ABCD"
              detalle_Factura_clasificacion:
                summary: Clase detalle Factura_clasificacion
                value:
                  - Act_negocio_sn_hd: "ABCD"
                    Entidad_hd_id: 123
                    Cuenta_deveng_hd_id: 123
                    Cuenta_id: 123 # Cuenta
                    Act_negocio_id: 123 # Actividad de Negocio 
                    Tributacion_id: 123 # Tributación
                    Valor: 123.45
                    Factura_id: 123
                    Unidad_id: 123 # Unidad
                    Funcionario_id: 123 # Funcionario
                    Biene_id: 123 # Bien(Activo Fijo)
                    Kilometraje: 123.45 # Kilometraje/Hora máquina (actual) 
                    Cantidad_combustible: 123.45 # Cantidad combustible cargado
                    Tipo_gasto: "ABCD" # Tipo de Gasto
                    Obs: "ABCD" # Observación
                    Valor_base_hd: 123.45
              detalle_Factura_cuota:
                summary: Clase detalle Factura_cuota
                value:
                  - Factura_id: 123
                    Pagare_id: 123 # Pagaré
                    Vencimiento: "2026-04-21"
                    Valor: 123.45
                    Voa_class: "ABCD"
              detalle_Factura_baja:
                summary: Clase detalle Factura_baja
                value:
                  - Descripcion_hd_cb: "ABCD"
                    Factura_id: 123
                    Flujo_caja_id: 123 # Titulo
                    Valor_baja: 123.45 # Valor Baja
              detalle_Factura_retencion:
                summary: Clase detalle Factura_retencion
                value:
                  - Caja_mov_hd: "ABCD"
                    Padron_3_sn_hd: "ABCD"
                    Cuenta_tipo_hd: "ABCD"
                    descripcion_hd_cb: "ABCD"
                    Total_hd: 123.45
                    Gravada_hd: 123.45
                    Iva_hd: 123.45
                    Fecha: "2026-04-21" # Fecha de Movimiento
                    Fecha_doc: "2026-04-21" # Fecha del Documento
                    Documento_tipo_id: 123 # Tipo de Documento
                    Operacion_doc_id: 123 # Operación
                    Entidad_id: 123 # Entidad
                    Entidad_ubicacion_id: 123 # Ubicación
                    Zafra_id: 123 # Zafra
                    Ctb_proyecto_id: 123 # Proyecto
                    Unidad_id: 123 # Unidad de Lanzamiento
                    Doc_num: "ABCD" # Número Documento
                    Timbrado_id: 123 # Timbrado
                    Codigo_control_elec: "ABCD" # Código de control (CDC)
                    Deposito_id: 123 # Depósito
                    Factura_ref_id: 123 # Factura de Referencia
                    Contrato_id: 123 # Contrato
                    Chapa_id: 123 # Chapa
                    Chofer_id: 123 # Chofer
                    Transportadora_id: 123 # Transportadora
                    Status: "ABCD"
                    Emision_doc_hd: "ABCD"
                    Moneda_doc_id: 123 # Moneda del Documento
                    Moneda_id: 123 # Moneda de Movimiento
                    Valor_mov: 123.45 # Total del Movimiento
                    Cambio_man_sn: "ABCD" # Cambio Manual 
                    Cambio: 123.45 # Tasa de Cambio
                    Condicion_id: 123 # Condición de Pago
                    Cuenta_id: 123 # Cuenta Financiera
                    Origen_nombre_hd: "ABCD"
                    Cheque_id: 123 # Cheque
                    Obs: "ABCD" # Observaciones
                    Concepto: "ABCD"
                    Apertura_despacho_sn_hd: "ABCD"
                    Pestanha_retencion_hd: "ABCD"
                    Voa_class: "ABCD"
              detalle_Factura_flete:
                summary: Clase detalle Factura_flete
                value:
                  - Act_negocio_sn_hd: "ABCD"
                    Centro_costo_sn_hd: "ABCD"
                    Factura_id: 123
                    Obs: "ABCD" # Detalles
                    Valor: 123.45
                    Tributacion_id: 123 # Tributación
                    Flete_tipo: "ABCD" # Tipo
                    Act_negocio_id: 123 # Actividad de Negocio 
                    Centro_costo_id: 123 # Centro de Costo 
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - AF31 - Facturas
      summary: Actualizar Facturas
      description: Actualiza un registro de Facturas
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF31

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: detalle
          in: query
          required: false
          schema:
            type: string
            example: Factura_clasificacion
          description: Ingrese el nombre de la clase que desea consultar. Ejemplo
            Factura_clasificacion, Factura_cuota, Factura_baja,
            Factura_retencion, Factura_flete

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              cabecera:
                summary: Clase cabecera Factura_financiero
                value:
                  - Caja_mov_hd: "ABCD"
                    Padron_3_sn_hd: "ABCD"
                    Cuenta_tipo_hd: "ABCD"
                    descripcion_hd_cb: "ABCD"
                    Total_hd: 123.45
                    Gravada_hd: 123.45
                    Iva_hd: 123.45
                    Fecha: "2026-04-21" # Fecha de Movimiento
                    Fecha_doc: "2026-04-21" # Fecha del Documento
                    Documento_tipo_id: 123 # Tipo de Documento
                    Operacion_doc_id: 123 # Operación
                    Entidad_id: 123 # Entidad
                    Entidad_ubicacion_id: 123 # Ubicación
                    Zafra_id: 123 # Zafra
                    Ctb_proyecto_id: 123 # Proyecto
                    Unidad_id: 123 # Unidad de Lanzamiento
                    Doc_num: "ABCD" # Número Documento
                    Timbrado_id: 123 # Timbrado
                    Codigo_control_elec: "ABCD" # Código de control (CDC)
                    Deposito_id: 123 # Depósito
                    Factura_ref_id: 123 # Factura de Referencia
                    Contrato_id: 123 # Contrato
                    Chapa_id: 123 # Chapa
                    Chofer_id: 123 # Chofer
                    Transportadora_id: 123 # Transportadora
                    Status: "ABCD"
                    Emision_doc_hd: "ABCD"
                    Moneda_doc_id: 123 # Moneda del Documento
                    Moneda_id: 123 # Moneda de Movimiento
                    Valor_mov: 123.45 # Total del Movimiento
                    Cambio_man_sn: "ABCD" # Cambio Manual 
                    Cambio: 123.45 # Tasa de Cambio
                    Condicion_id: 123 # Condición de Pago
                    Cuenta_id: 123 # Cuenta Financiera
                    Origen_nombre_hd: "ABCD"
                    Cheque_id: 123 # Cheque
                    Obs: "ABCD" # Observaciones
                    Concepto: "ABCD"
                    Apertura_despacho_sn_hd: "ABCD"
                    Pestanha_retencion_hd: "ABCD"
                    Voa_class: "ABCD"
              detalle_Factura_clasificacion:
                summary: Clase detalle Factura_clasificacion
                value:
                  - Act_negocio_sn_hd: "ABCD"
                    Entidad_hd_id: 123
                    Cuenta_deveng_hd_id: 123
                    Cuenta_id: 123 # Cuenta
                    Act_negocio_id: 123 # Actividad de Negocio 
                    Tributacion_id: 123 # Tributación
                    Valor: 123.45
                    Factura_id: 123
                    Unidad_id: 123 # Unidad
                    Funcionario_id: 123 # Funcionario
                    Biene_id: 123 # Bien(Activo Fijo)
                    Kilometraje: 123.45 # Kilometraje/Hora máquina (actual) 
                    Cantidad_combustible: 123.45 # Cantidad combustible cargado
                    Tipo_gasto: "ABCD" # Tipo de Gasto
                    Obs: "ABCD" # Observación
                    Valor_base_hd: 123.45
              detalle_Factura_cuota:
                summary: Clase detalle Factura_cuota
                value:
                  - Factura_id: 123
                    Pagare_id: 123 # Pagaré
                    Vencimiento: "2026-04-21"
                    Valor: 123.45
                    Voa_class: "ABCD"
              detalle_Factura_baja:
                summary: Clase detalle Factura_baja
                value:
                  - Descripcion_hd_cb: "ABCD"
                    Factura_id: 123
                    Flujo_caja_id: 123 # Titulo
                    Valor_baja: 123.45 # Valor Baja
              detalle_Factura_retencion:
                summary: Clase detalle Factura_retencion
                value:
                  - Caja_mov_hd: "ABCD"
                    Padron_3_sn_hd: "ABCD"
                    Cuenta_tipo_hd: "ABCD"
                    descripcion_hd_cb: "ABCD"
                    Total_hd: 123.45
                    Gravada_hd: 123.45
                    Iva_hd: 123.45
                    Fecha: "2026-04-21" # Fecha de Movimiento
                    Fecha_doc: "2026-04-21" # Fecha del Documento
                    Documento_tipo_id: 123 # Tipo de Documento
                    Operacion_doc_id: 123 # Operación
                    Entidad_id: 123 # Entidad
                    Entidad_ubicacion_id: 123 # Ubicación
                    Zafra_id: 123 # Zafra
                    Ctb_proyecto_id: 123 # Proyecto
                    Unidad_id: 123 # Unidad de Lanzamiento
                    Doc_num: "ABCD" # Número Documento
                    Timbrado_id: 123 # Timbrado
                    Codigo_control_elec: "ABCD" # Código de control (CDC)
                    Deposito_id: 123 # Depósito
                    Factura_ref_id: 123 # Factura de Referencia
                    Contrato_id: 123 # Contrato
                    Chapa_id: 123 # Chapa
                    Chofer_id: 123 # Chofer
                    Transportadora_id: 123 # Transportadora
                    Status: "ABCD"
                    Emision_doc_hd: "ABCD"
                    Moneda_doc_id: 123 # Moneda del Documento
                    Moneda_id: 123 # Moneda de Movimiento
                    Valor_mov: 123.45 # Total del Movimiento
                    Cambio_man_sn: "ABCD" # Cambio Manual 
                    Cambio: 123.45 # Tasa de Cambio
                    Condicion_id: 123 # Condición de Pago
                    Cuenta_id: 123 # Cuenta Financiera
                    Origen_nombre_hd: "ABCD"
                    Cheque_id: 123 # Cheque
                    Obs: "ABCD" # Observaciones
                    Concepto: "ABCD"
                    Apertura_despacho_sn_hd: "ABCD"
                    Pestanha_retencion_hd: "ABCD"
                    Voa_class: "ABCD"
              detalle_Factura_flete:
                summary: Clase detalle Factura_flete
                value:
                  - Act_negocio_sn_hd: "ABCD"
                    Centro_costo_sn_hd: "ABCD"
                    Factura_id: 123
                    Obs: "ABCD" # Detalles
                    Valor: 123.45
                    Tributacion_id: 123 # Tributación
                    Flete_tipo: "ABCD" # Tipo
                    Act_negocio_id: 123 # Actividad de Negocio 
                    Centro_costo_id: 123 # Centro de Costo 
      responses:
        "200":
          description: "0123456789"

  /AF41:
    get:
      tags:
        - AF41 - Órdenes de Pago
      summary: Listar Órdenes de Pago
      description: Obtiene todos los registros de Órdenes de Pago. Permite filtrar
        resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF41

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede
            filtrar por mes y año de la siguiente forma 01/2026 o solo por el
            año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0"
            para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el
            valor por defecto es de 100 registros; la cantidad límite para el
            parámetro es de 1000.

        - name: detalle
          in: query
          required: false
          schema:
            type: string
            example: Orden_pago_titulo
          description: Ingrese el nombre de la clase que desea consultar. Ejemplo
            Orden_pago_titulo

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                cabecera:
                  summary: Clase cabecera Orden_pago
                  value:
                    - Status: "ABCD"
                      Total_ro: 123.45 # Total
                      id: 123
                      Fecha: "2026-04-21" # Fecha de lanzamiento
                      Fecha_prev_pago: "2026-04-21" # Fecha de previsión de pago
                      Unidad_id: 123 # Unidad
                      Moneda_id: 123 # Moneda
                      Cuenta_id: 123 # Cuenta
                      Obs: "ABCD" # Observaciones
                      Creacion_hd: "2026-04-21" # Fecha de creación del registro
                      Ult_mod_hd: "2026-04-21" # Ultima modificación del registro
                      Ult_usuario_hd_id: 123 # Ultimo usuario que modifico el registro
                      Moneda_txt: "ABCD"
                      Unidad_txt: "ABCD"
                      Ult_usuario_hd_txt: "ABCD"
                      Cuenta_txt: "ABCD"
                detalle_Orden_pago_titulo:
                  summary: Clase detalle Orden_pago_titulo
                  value:
                    - Descripcion_cb_hd: "ABCD"
                      id: 123
                      Orden_pago_id: 123
                      Entidad_id: 123 # Proveedor
                      Flujo_caja_id: 123 # Título
                      Valor: 123.45
                      Obs: "ABCD" # Observación
                      Flujo_caja_txt: "ABCD"
                      Orden_pago_txt: "ABCD"
                      Entidad_txt: "ABCD"
                cabecera_con_paginacion:
                  summary: Clase cabecera (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Status: "ABCD"
                        Total_ro: 123.45 # Total
                        id: 123
                        Fecha: "2026-04-21" # Fecha de lanzamiento
                        Fecha_prev_pago: "2026-04-21" # Fecha de previsión de pago
                        Unidad_id: 123 # Unidad
                        Moneda_id: 123 # Moneda
                        Cuenta_id: 123 # Cuenta
                        Obs: "ABCD" # Observaciones
                        Creacion_hd: "2026-04-21" # Fecha de creación del registro
                        Ult_mod_hd: "2026-04-21" # Ultima modificación del registro
                        Ult_usuario_hd_id: 123 # Ultimo usuario que modifico el registro
                        Moneda_txt: "ABCD"
                        Unidad_txt: "ABCD"
                        Ult_usuario_hd_txt: "ABCD"
                        Cuenta_txt: "ABCD"
                detalle_Orden_pago_titulo_con_paginacion:
                  summary: Clase detalle Orden_pago_titulo (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Descripcion_cb_hd: "ABCD"
                        id: 123
                        Orden_pago_id: 123
                        Entidad_id: 123 # Proveedor
                        Flujo_caja_id: 123 # Título
                        Valor: 123.45
                        Obs: "ABCD" # Observación
                        Flujo_caja_txt: "ABCD"
                        Orden_pago_txt: "ABCD"
                        Entidad_txt: "ABCD"
    post:
      tags:
        - AF41 - Órdenes de Pago
      summary: Agregar Órdenes de Pago
      description: Crea un nuevo registro de Órdenes de Pago en Versat ERP.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF41

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL
        - name: operacion
          in: query
          required: false
          schema:
            type: string
            example: Aplicar
          description: Ingrese la operación que desea realizar. Ejemplo Aplicar,
            Desaplicar o Anular

        - name: ids
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID del registro, pudiendo pasar dos o más. Ejemplo 1,2,3

        - name: motivo
          in: query
          required: false
          schema:
            type: string
            example: Aplica desde API
          description: En el caso de las operaciones Anular y Desaplicar puede ingresar el
            motivo

        - name: detalle
          in: query
          required: false
          schema:
            type: string
            example: Orden_pago_titulo
          description: Ingrese el nombre de la clase que desea consultar. Ejemplo
            Orden_pago_titulo

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              cabecera:
                summary: Clase cabecera Orden_pago
                value:
                  - Status: "ABCD"
                    Fecha: "2026-04-21" # Fecha de lanzamiento
                    Fecha_prev_pago: "2026-04-21" # Fecha de previsión de pago
                    Unidad_id: 123 # Unidad
                    Moneda_id: 123 # Moneda
                    Cuenta_id: 123 # Cuenta
                    Obs: "ABCD" # Observaciones
              detalle_Orden_pago_titulo:
                summary: Clase detalle Orden_pago_titulo
                value:
                  - Descripcion_cb_hd: "ABCD"
                    Orden_pago_id: 123
                    Entidad_id: 123 # Proveedor
                    Flujo_caja_id: 123 # Título
                    Valor: 123.45
                    Obs: "ABCD" # Observación
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - AF41 - Órdenes de Pago
      summary: Actualizar Órdenes de Pago
      description: Actualiza un registro de Órdenes de Pago
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF41

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: detalle
          in: query
          required: false
          schema:
            type: string
            example: Orden_pago_titulo
          description: Ingrese el nombre de la clase que desea consultar. Ejemplo
            Orden_pago_titulo

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              cabecera:
                summary: Clase cabecera Orden_pago
                value:
                  - Status: "ABCD"
                    Fecha: "2026-04-21" # Fecha de lanzamiento
                    Fecha_prev_pago: "2026-04-21" # Fecha de previsión de pago
                    Unidad_id: 123 # Unidad
                    Moneda_id: 123 # Moneda
                    Cuenta_id: 123 # Cuenta
                    Obs: "ABCD" # Observaciones
              detalle_Orden_pago_titulo:
                summary: Clase detalle Orden_pago_titulo
                value:
                  - Descripcion_cb_hd: "ABCD"
                    Orden_pago_id: 123
                    Entidad_id: 123 # Proveedor
                    Flujo_caja_id: 123 # Título
                    Valor: 123.45
                    Obs: "ABCD" # Observación
      responses:
        "200":
          description: "0123456789"

  /AF51:
    get:
      tags:
        - AF51 - Recibos y Transacciones
      summary: Listar Recibos y Transacciones
      description: Obtiene todos los registros de Recibos y Transacciones. Permite
        filtrar resultados mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF51

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede
            filtrar por mes y año de la siguiente forma 01/2026 o solo por el
            año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0"
            para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el
            valor por defecto es de 100 registros; la cantidad límite para el
            parámetro es de 1000.

        - name: detalle
          in: query
          required: false
          schema:
            type: string
            example: Financ_baja
          description: Ingrese el nombre de la clase que desea consultar. Ejemplo
            Financ_baja, Financ_caja, Financ_factura

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                cabecera:
                  summary: Clase cabecera Financ
                  value:
                    - Status: "ABCD"
                      Debe_ro: 123.45 # Total Debe
                      Haber_ro: 123.45 # Total Haber
                      Diferencia_ro: 123.45 # Diferencia
                      id: 123
                      Fecha: "2026-04-21" # Fecha Movimiento
                      Fecha_doc: "2026-04-21" # Fecha Documento
                      Unidad_id: 123 # Unidad de Lanzamiento
                      Entidad_id: 123 # Entidad
                      Moneda_id: 123 # Moneda
                      Recibir: 123.45 # Valor del Recibo de Cobro
                      Pagar: 123.45 # Valor del Recibo de Pago
                      Recibo_cobro_uk: "ABCD" # Número del Recibo de Cobro
                      Recibo_pago: "ABCD" # Número del Recibo/Comprobante de Pago
                      Concepto: "ABCD"
                      Cotizacion_cv: "ABCD" # Cotización
                      Zafra_id: 123 # Zafra
                      Unidad_txt: "ABCD"
                      Entidad_txt: "ABCD"
                      Moneda_txt: "ABCD"
                      Zafra_txt: "ABCD"
                detalle_Financ_baja:
                  summary: Clase detalle Financ_baja
                  value:
                    - Descripcion_hd_cb: "ABCD"
                      Unidad_ro: "ABCD" # Unidad
                      id: 123
                      Financ_id: 123
                      Flujo_caja_id: 123 # Título
                      Tipomov_ro: "ABCD" # Movimiento
                      Valor_baja: 123.45 # Valor Baja
                      Descuento: 123.45 # Descuento aplicado
                      Descuento_calculado_ro: 123.45 # Descuento calculado
                      Interes: 123.45 # Interés aplicado
                      Interes_calculado_ro: 123.45 # Interés calculado
                      Cotizacion_ro: 123.45 # Cotización
                      Valor_convertido_ro: 123.45 # Valor Convertido
                      Cheque_desc_sn: "ABCD" # Cheque descontado
                      Ret_tot_parc: "ABCD" # Retención de Impuesto
                      Orden_pago_titulo_id: 123 # Orden de pago
                      Financ_txt: "ABCD"
                      Flujo_caja_txt: "ABCD"
                      Orden_pago_titulo_txt: "ABCD"
                detalle_Financ_caja:
                  summary: Clase detalle Financ_caja
                  value:
                    - Cuenta_tipo_hd: "ABCD"
                      Entidad_id_hd: 123
                      id: 123
                      Financ_id: 123 # Recibo
                      Ent_sal: "ABCD" # Movimiento
                      Moneda_id: 123 # Moneda
                      Condicion_id: 123 # Condición de Pago
                      Cuenta_id: 123 # Cuenta
                      Valor: 123.45
                      Cheque_id: 123 # Cheque
                      Valor_convertido_ro: 123.45 # Valor convertido
                      Act_negocio_id: 123 # Actividad de Negocio
                      Centro_costo_id: 123 # Centro de Costo
                      Ctb_proyecto_id: 123 # Proyecto
                      Financ_txt: "ABCD"
                      Moneda_txt: "ABCD"
                      Cuenta_txt: "ABCD"
                      Cheque_txt: "ABCD"
                      Condicion_txt: "ABCD"
                      Centro_costo_txt: "ABCD"
                      Act_negocio_txt: "ABCD"
                      Ctb_proyecto_txt: "ABCD"
                detalle_Financ_factura:
                  summary: Clase detalle Financ_factura
                  value:
                    - Financ_id: 123
                      Financ_txt: "ABCD"
                      Caja_mov_hd: "ABCD"
                      Padron_3_sn_hd: "ABCD"
                      Cuenta_tipo_hd: "ABCD"
                      descripcion_hd_cb: "ABCD"
                      Total_hd: 123.45
                      Gravada_hd: 123.45
                      Iva_hd: 123.45
                      id: 123
                      Fecha: "2026-04-21" # Fecha de Movimiento
                      Fecha_doc: "2026-04-21" # Fecha del Documento
                      Documento_tipo_id: 123 # Tipo de Documento
                      Operacion_doc_id: 123 # Operación
                      Entidad_id: 123 # Entidad
                      Entidad_ubicacion_id: 123 # Ubicación
                      Zafra_id: 123 # Zafra
                      Ctb_proyecto_id: 123 # Proyecto
                      Unidad_id: 123 # Unidad de Lanzamiento
                      Doc_num: "ABCD" # Número Documento
                      Timbrado_id: 123 # Timbrado
                      Codigo_control_elec: "ABCD" # Código de control (CDC)
                      Deposito_id: 123 # Depósito
                      Factura_ref_id: 123 # Factura de Referencia
                      Contrato_id: 123 # Contrato
                      Chapa_id: 123 # Chapa
                      Chofer_id: 123 # Chofer
                      Transportadora_id: 123 # Transportadora
                      Status: "ABCD"
                      Emision_doc_hd: "ABCD"
                      Moneda_doc_id: 123 # Moneda del Documento
                      Moneda_id: 123 # Moneda de Movimiento
                      Valor_mov: 123.45 # Total del Movimiento
                      Cambio_man_sn: "ABCD" # Cambio Manual 
                      Cambio: 123.45 # Tasa de Cambio
                      Condicion_id: 123 # Condición de Pago
                      Cuenta_id: 123 # Cuenta Financiera
                      Origen_nombre_hd: "ABCD"
                      Cheque_id: 123 # Cheque
                      Obs: "ABCD" # Observaciones
                      Concepto: "ABCD"
                      Apertura_despacho_sn_hd: "ABCD"
                      Pestanha_retencion_hd: "ABCD"
                      Creacion_hd: "2026-04-21" # Fecha de creación del registro
                      Ult_mod_hd: "2026-04-21" # Ultima modificación del registro
                      Ult_usuario_hd_id: 123 # Ultimo usuario que modifico el registro
                      Voa_class: "ABCD"
                      Moneda_txt: "ABCD"
                      Zafra_txt: "ABCD"
                      Deposito_txt: "ABCD"
                      Entidad_ubicacion_txt: "ABCD"
                      Contrato_txt: "ABCD"
                      Unidad_txt: "ABCD"
                      Transportadora_txt: "ABCD"
                      Documento_tipo_txt: "ABCD"
                      Operacion_doc_txt: "ABCD"
                      Condicion_txt: "ABCD"
                      Cuenta_txt: "ABCD"
                      Factura_ref_txt: "ABCD"
                      Cheque_txt: "ABCD"
                      Entidad_txt: "ABCD"
                      Timbrado_txt: "ABCD"
                      Chapa_txt: "ABCD"
                      Chofer_txt: "ABCD"
                      Moneda_doc_txt: "ABCD"
                      Ctb_proyecto_txt: "ABCD"
                      Ult_usuario_hd_txt: "ABCD"
                cabecera_con_paginacion:
                  summary: Clase cabecera (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Status: "ABCD"
                        Debe_ro: 123.45 # Total Debe
                        Haber_ro: 123.45 # Total Haber
                        Diferencia_ro: 123.45 # Diferencia
                        id: 123
                        Fecha: "2026-04-21" # Fecha Movimiento
                        Fecha_doc: "2026-04-21" # Fecha Documento
                        Unidad_id: 123 # Unidad de Lanzamiento
                        Entidad_id: 123 # Entidad
                        Moneda_id: 123 # Moneda
                        Recibir: 123.45 # Valor del Recibo de Cobro
                        Pagar: 123.45 # Valor del Recibo de Pago
                        Recibo_cobro_uk: "ABCD" # Número del Recibo de Cobro
                        Recibo_pago: "ABCD" # Número del Recibo/Comprobante de Pago
                        Concepto: "ABCD"
                        Cotizacion_cv: "ABCD" # Cotización
                        Zafra_id: 123 # Zafra
                        Unidad_txt: "ABCD"
                        Entidad_txt: "ABCD"
                        Moneda_txt: "ABCD"
                        Zafra_txt: "ABCD"
                detalle_Financ_baja_con_paginacion:
                  summary: Clase detalle Financ_baja (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Descripcion_hd_cb: "ABCD"
                        Unidad_ro: "ABCD" # Unidad
                        id: 123
                        Financ_id: 123
                        Flujo_caja_id: 123 # Título
                        Tipomov_ro: "ABCD" # Movimiento
                        Valor_baja: 123.45 # Valor Baja
                        Descuento: 123.45 # Descuento aplicado
                        Descuento_calculado_ro: 123.45 # Descuento calculado
                        Interes: 123.45 # Interés aplicado
                        Interes_calculado_ro: 123.45 # Interés calculado
                        Cotizacion_ro: 123.45 # Cotización
                        Valor_convertido_ro: 123.45 # Valor Convertido
                        Cheque_desc_sn: "ABCD" # Cheque descontado
                        Ret_tot_parc: "ABCD" # Retención de Impuesto
                        Orden_pago_titulo_id: 123 # Orden de pago
                        Financ_txt: "ABCD"
                        Flujo_caja_txt: "ABCD"
                        Orden_pago_titulo_txt: "ABCD"
                detalle_Financ_caja_con_paginacion:
                  summary: Clase detalle Financ_caja (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Cuenta_tipo_hd: "ABCD"
                        Entidad_id_hd: 123
                        id: 123
                        Financ_id: 123 # Recibo
                        Ent_sal: "ABCD" # Movimiento
                        Moneda_id: 123 # Moneda
                        Condicion_id: 123 # Condición de Pago
                        Cuenta_id: 123 # Cuenta
                        Valor: 123.45
                        Cheque_id: 123 # Cheque
                        Valor_convertido_ro: 123.45 # Valor convertido
                        Act_negocio_id: 123 # Actividad de Negocio
                        Centro_costo_id: 123 # Centro de Costo
                        Ctb_proyecto_id: 123 # Proyecto
                        Financ_txt: "ABCD"
                        Moneda_txt: "ABCD"
                        Cuenta_txt: "ABCD"
                        Cheque_txt: "ABCD"
                        Condicion_txt: "ABCD"
                        Centro_costo_txt: "ABCD"
                        Act_negocio_txt: "ABCD"
                        Ctb_proyecto_txt: "ABCD"
                detalle_Financ_factura_con_paginacion:
                  summary: Clase detalle Financ_factura (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Financ_id: 123
                        Financ_txt: "ABCD"
                        Caja_mov_hd: "ABCD"
                        Padron_3_sn_hd: "ABCD"
                        Cuenta_tipo_hd: "ABCD"
                        descripcion_hd_cb: "ABCD"
                        Total_hd: 123.45
                        Gravada_hd: 123.45
                        Iva_hd: 123.45
                        id: 123
                        Fecha: "2026-04-21" # Fecha de Movimiento
                        Fecha_doc: "2026-04-21" # Fecha del Documento
                        Documento_tipo_id: 123 # Tipo de Documento
                        Operacion_doc_id: 123 # Operación
                        Entidad_id: 123 # Entidad
                        Entidad_ubicacion_id: 123 # Ubicación
                        Zafra_id: 123 # Zafra
                        Ctb_proyecto_id: 123 # Proyecto
                        Unidad_id: 123 # Unidad de Lanzamiento
                        Doc_num: "ABCD" # Número Documento
                        Timbrado_id: 123 # Timbrado
                        Codigo_control_elec: "ABCD" # Código de control (CDC)
                        Deposito_id: 123 # Depósito
                        Factura_ref_id: 123 # Factura de Referencia
                        Contrato_id: 123 # Contrato
                        Chapa_id: 123 # Chapa
                        Chofer_id: 123 # Chofer
                        Transportadora_id: 123 # Transportadora
                        Status: "ABCD"
                        Emision_doc_hd: "ABCD"
                        Moneda_doc_id: 123 # Moneda del Documento
                        Moneda_id: 123 # Moneda de Movimiento
                        Valor_mov: 123.45 # Total del Movimiento
                        Cambio_man_sn: "ABCD" # Cambio Manual 
                        Cambio: 123.45 # Tasa de Cambio
                        Condicion_id: 123 # Condición de Pago
                        Cuenta_id: 123 # Cuenta Financiera
                        Origen_nombre_hd: "ABCD"
                        Cheque_id: 123 # Cheque
                        Obs: "ABCD" # Observaciones
                        Concepto: "ABCD"
                        Apertura_despacho_sn_hd: "ABCD"
                        Pestanha_retencion_hd: "ABCD"
                        Creacion_hd: "2026-04-21" # Fecha de creación del registro
                        Ult_mod_hd: "2026-04-21" # Ultima modificación del registro
                        Ult_usuario_hd_id: 123 # Ultimo usuario que modifico el registro
                        Voa_class: "ABCD"
                        Moneda_txt: "ABCD"
                        Zafra_txt: "ABCD"
                        Deposito_txt: "ABCD"
                        Entidad_ubicacion_txt: "ABCD"
                        Contrato_txt: "ABCD"
                        Unidad_txt: "ABCD"
                        Transportadora_txt: "ABCD"
                        Documento_tipo_txt: "ABCD"
                        Operacion_doc_txt: "ABCD"
                        Condicion_txt: "ABCD"
                        Cuenta_txt: "ABCD"
                        Factura_ref_txt: "ABCD"
                        Cheque_txt: "ABCD"
                        Entidad_txt: "ABCD"
                        Timbrado_txt: "ABCD"
                        Chapa_txt: "ABCD"
                        Chofer_txt: "ABCD"
                        Moneda_doc_txt: "ABCD"
                        Ctb_proyecto_txt: "ABCD"
                        Ult_usuario_hd_txt: "ABCD"
    post:
      tags:
        - AF51 - Recibos y Transacciones
      summary: Agregar Recibos y Transacciones
      description: Crea un nuevo registro de Recibos y Transacciones en Versat ERP.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF51

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL
        - name: operacion
          in: query
          required: false
          schema:
            type: string
            example: Aplicar
          description: Ingrese la operación que desea realizar. Ejemplo Aplicar,
            Desaplicar o Anular

        - name: ids
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID del registro, pudiendo pasar dos o más. Ejemplo 1,2,3

        - name: motivo
          in: query
          required: false
          schema:
            type: string
            example: Aplica desde API
          description: En el caso de las operaciones Anular y Desaplicar puede ingresar el
            motivo

        - name: detalle
          in: query
          required: false
          schema:
            type: string
            example: Financ_baja
          description: Ingrese el nombre de la clase que desea consultar. Ejemplo
            Financ_baja, Financ_caja, Financ_factura

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              cabecera:
                summary: Clase cabecera Financ
                value:
                  - Status: "ABCD"
                    Fecha: "2026-04-21" # Fecha Movimiento
                    Fecha_doc: "2026-04-21" # Fecha Documento
                    Unidad_id: 123 # Unidad de Lanzamiento
                    Entidad_id: 123 # Entidad
                    Moneda_id: 123 # Moneda
                    Recibir: 123.45 # Valor del Recibo de Cobro
                    Pagar: 123.45 # Valor del Recibo de Pago
                    Recibo_cobro_uk: "ABCD" # Número del Recibo de Cobro
                    Recibo_pago: "ABCD" # Número del Recibo/Comprobante de Pago
                    Concepto: "ABCD"
                    Cotizacion_cv: "ABCD" # Cotización
                    Zafra_id: 123 # Zafra
              detalle_Financ_baja:
                summary: Clase detalle Financ_baja
                value:
                  - Descripcion_hd_cb: "ABCD"
                    Financ_id: 123
                    Flujo_caja_id: 123 # Título
                    Valor_baja: 123.45 # Valor Baja
                    Descuento: 123.45 # Descuento aplicado
                    Interes: 123.45 # Interés aplicado
                    Cheque_desc_sn: "ABCD" # Cheque descontado
                    Ret_tot_parc: "ABCD" # Retención de Impuesto
                    Orden_pago_titulo_id: 123 # Orden de pago
              detalle_Financ_caja:
                summary: Clase detalle Financ_caja
                value:
                  - Cuenta_tipo_hd: "ABCD"
                    Entidad_id_hd: 123
                    Financ_id: 123 # Recibo
                    Ent_sal: "ABCD" # Movimiento
                    Moneda_id: 123 # Moneda
                    Condicion_id: 123 # Condición de Pago
                    Cuenta_id: 123 # Cuenta
                    Valor: 123.45
                    Cheque_id: 123 # Cheque
                    Act_negocio_id: 123 # Actividad de Negocio
                    Centro_costo_id: 123 # Centro de Costo
                    Ctb_proyecto_id: 123 # Proyecto
              detalle_Financ_factura:
                summary: Clase detalle Financ_factura
                value:
                  - Financ_id: 123
                    Caja_mov_hd: "ABCD"
                    Padron_3_sn_hd: "ABCD"
                    Cuenta_tipo_hd: "ABCD"
                    descripcion_hd_cb: "ABCD"
                    Total_hd: 123.45
                    Gravada_hd: 123.45
                    Iva_hd: 123.45
                    Fecha: "2026-04-21" # Fecha de Movimiento
                    Fecha_doc: "2026-04-21" # Fecha del Documento
                    Documento_tipo_id: 123 # Tipo de Documento
                    Operacion_doc_id: 123 # Operación
                    Entidad_id: 123 # Entidad
                    Entidad_ubicacion_id: 123 # Ubicación
                    Zafra_id: 123 # Zafra
                    Ctb_proyecto_id: 123 # Proyecto
                    Unidad_id: 123 # Unidad de Lanzamiento
                    Doc_num: "ABCD" # Número Documento
                    Timbrado_id: 123 # Timbrado
                    Codigo_control_elec: "ABCD" # Código de control (CDC)
                    Deposito_id: 123 # Depósito
                    Factura_ref_id: 123 # Factura de Referencia
                    Contrato_id: 123 # Contrato
                    Chapa_id: 123 # Chapa
                    Chofer_id: 123 # Chofer
                    Transportadora_id: 123 # Transportadora
                    Status: "ABCD"
                    Emision_doc_hd: "ABCD"
                    Moneda_doc_id: 123 # Moneda del Documento
                    Moneda_id: 123 # Moneda de Movimiento
                    Valor_mov: 123.45 # Total del Movimiento
                    Cambio_man_sn: "ABCD" # Cambio Manual 
                    Cambio: 123.45 # Tasa de Cambio
                    Condicion_id: 123 # Condición de Pago
                    Cuenta_id: 123 # Cuenta Financiera
                    Origen_nombre_hd: "ABCD"
                    Cheque_id: 123 # Cheque
                    Obs: "ABCD" # Observaciones
                    Concepto: "ABCD"
                    Apertura_despacho_sn_hd: "ABCD"
                    Pestanha_retencion_hd: "ABCD"
                    Voa_class: "ABCD"
      responses:
        "200":
          description: "0123456789"

    put:
      tags:
        - AF51 - Recibos y Transacciones
      summary: Actualizar Recibos y Transacciones
      description: Actualiza un registro de Recibos y Transacciones
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF51

        - name: Id
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: Id del registro a actualizar.

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: detalle
          in: query
          required: false
          schema:
            type: string
            example: Financ_baja
          description: Ingrese el nombre de la clase que desea consultar. Ejemplo
            Financ_baja, Financ_caja, Financ_factura

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              cabecera:
                summary: Clase cabecera Financ
                value:
                  - Status: "ABCD"
                    Fecha: "2026-04-21" # Fecha Movimiento
                    Fecha_doc: "2026-04-21" # Fecha Documento
                    Unidad_id: 123 # Unidad de Lanzamiento
                    Entidad_id: 123 # Entidad
                    Moneda_id: 123 # Moneda
                    Recibir: 123.45 # Valor del Recibo de Cobro
                    Pagar: 123.45 # Valor del Recibo de Pago
                    Recibo_cobro_uk: "ABCD" # Número del Recibo de Cobro
                    Recibo_pago: "ABCD" # Número del Recibo/Comprobante de Pago
                    Concepto: "ABCD"
                    Cotizacion_cv: "ABCD" # Cotización
                    Zafra_id: 123 # Zafra
              detalle_Financ_baja:
                summary: Clase detalle Financ_baja
                value:
                  - Descripcion_hd_cb: "ABCD"
                    Financ_id: 123
                    Flujo_caja_id: 123 # Título
                    Valor_baja: 123.45 # Valor Baja
                    Descuento: 123.45 # Descuento aplicado
                    Interes: 123.45 # Interés aplicado
                    Cheque_desc_sn: "ABCD" # Cheque descontado
                    Ret_tot_parc: "ABCD" # Retención de Impuesto
                    Orden_pago_titulo_id: 123 # Orden de pago
              detalle_Financ_caja:
                summary: Clase detalle Financ_caja
                value:
                  - Cuenta_tipo_hd: "ABCD"
                    Entidad_id_hd: 123
                    Financ_id: 123 # Recibo
                    Ent_sal: "ABCD" # Movimiento
                    Moneda_id: 123 # Moneda
                    Condicion_id: 123 # Condición de Pago
                    Cuenta_id: 123 # Cuenta
                    Valor: 123.45
                    Cheque_id: 123 # Cheque
                    Act_negocio_id: 123 # Actividad de Negocio
                    Centro_costo_id: 123 # Centro de Costo
                    Ctb_proyecto_id: 123 # Proyecto
              detalle_Financ_factura:
                summary: Clase detalle Financ_factura
                value:
                  - Financ_id: 123
                    Caja_mov_hd: "ABCD"
                    Padron_3_sn_hd: "ABCD"
                    Cuenta_tipo_hd: "ABCD"
                    descripcion_hd_cb: "ABCD"
                    Total_hd: 123.45
                    Gravada_hd: 123.45
                    Iva_hd: 123.45
                    Fecha: "2026-04-21" # Fecha de Movimiento
                    Fecha_doc: "2026-04-21" # Fecha del Documento
                    Documento_tipo_id: 123 # Tipo de Documento
                    Operacion_doc_id: 123 # Operación
                    Entidad_id: 123 # Entidad
                    Entidad_ubicacion_id: 123 # Ubicación
                    Zafra_id: 123 # Zafra
                    Ctb_proyecto_id: 123 # Proyecto
                    Unidad_id: 123 # Unidad de Lanzamiento
                    Doc_num: "ABCD" # Número Documento
                    Timbrado_id: 123 # Timbrado
                    Codigo_control_elec: "ABCD" # Código de control (CDC)
                    Deposito_id: 123 # Depósito
                    Factura_ref_id: 123 # Factura de Referencia
                    Contrato_id: 123 # Contrato
                    Chapa_id: 123 # Chapa
                    Chofer_id: 123 # Chofer
                    Transportadora_id: 123 # Transportadora
                    Status: "ABCD"
                    Emision_doc_hd: "ABCD"
                    Moneda_doc_id: 123 # Moneda del Documento
                    Moneda_id: 123 # Moneda de Movimiento
                    Valor_mov: 123.45 # Total del Movimiento
                    Cambio_man_sn: "ABCD" # Cambio Manual 
                    Cambio: 123.45 # Tasa de Cambio
                    Condicion_id: 123 # Condición de Pago
                    Cuenta_id: 123 # Cuenta Financiera
                    Origen_nombre_hd: "ABCD"
                    Cheque_id: 123 # Cheque
                    Obs: "ABCD" # Observaciones
                    Concepto: "ABCD"
                    Apertura_despacho_sn_hd: "ABCD"
                    Pestanha_retencion_hd: "ABCD"
                    Voa_class: "ABCD"
      responses:
        "200":
          description: "0123456789"

  /AF61:
    get:
      tags:
        - AF61 - Pagarés
      summary: Listar Pagarés
      description: Obtiene todos los registros de Pagarés. Permite filtrar resultados
        mediante parámetros de búsqueda por campo y valor.
      parameters:
        - name: recurso
          in: query
          required: true
          schema:
            type: string
            example: AF61

        - name: empresa_id
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: ID de la empresa a recuperar los datos. Al usar la Autenticación
            del tipo 'Bearer Token' este parámetro no es necesario en la URL

        - name: filtro_campo
          in: query
          required: false
          schema:
            type: string
            example: Fecha
          description: Nombre de la propiedad a filtrar

        - name: filtro_valor
          in: query
          required: false
          schema:
            type: string
            example: 2026
          description: Valor a filtrar. Si el valor es una propiedad del tipo fecha, puede
            filtrar por mes y año de la siguiente forma 01/2026 o solo por el
            año 2026

        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Página a mostrar con intervalo de 100 registros; pasar valor "0"
            para no paginar y traer los 100 últimos registros.

        - name: registros_por_pagina
          in: query
          required: false
          schema:
            type: integer
            example: 100
          description: Cantidad de registros a mostrar por página; sino se informa el
            valor por defecto es de 100 registros; la cantidad límite para el
            parámetro es de 1000.

        - name: detalle
          in: query
          required: false
          schema:
            type: string
            example: Pagare_entidad
          description: Ingrese el nombre de la clase que desea consultar. Ejemplo
            Pagare_entidad, Pagare_titulo

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                cabecera:
                  summary: Clase cabecera Pagare_fin
                  value:
                    - Status: "ABCD"
                      saldo_pagare_hd: 123.45
                      id: 123
                      Fecha: "2026-04-21"
                      Vencimiento: "2026-04-21"
                      Emision_doc: "ABCD" # Emitido por
                      Zafra_id: 123 # Zafra
                      Unidad_id: 123 # Unidad
                      Moneda_id: 123 # Moneda
                      Entidad_id: 123 # Entidad
                      Pagare_num_cb_uk: "ABCD" # Número del Pagaré
                      Valor: 123.45 # Valor del Pagaré
                      Firma_ro: "ABCD" # Situación
                      Negociable_sn: "ABCD" # Negociable
                      Imprime_fact_sn: "ABCD" # Imprimir facturas de referencia
                      Zafra_txt: "ABCD"
                      Entidad_txt: "ABCD"
                      Unidad_txt: "ABCD"
                      Moneda_txt: "ABCD"
                detalle_Pagare_entidad:
                  summary: Clase detalle Pagare_entidad
                  value:
                    - id: 123
                      Pagare_id: 123
                      Entidad_id: 123 # Codeudor
                      Tipo_codeudor: "ABCD" # Tipo
                      Pagare_txt: "ABCD"
                      Entidad_txt: "ABCD"
                detalle_Pagare_titulo:
                  summary: Clase detalle Pagare_titulo
                  value:
                    - Vendedor_ro: "ABCD" # Vendedor
                      id: 123
                      Pagare_id: 123
                      Flujo_caja_id: 123 # Título
                      Pagare_txt: "ABCD"
                      Flujo_caja_txt: "ABCD"
                cabecera_con_paginacion:
                  summary: Clase cabecera (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - Status: "ABCD"
                        saldo_pagare_hd: 123.45
                        id: 123
                        Fecha: "2026-04-21"
                        Vencimiento: "2026-04-21"
                        Emision_doc: "ABCD" # Emitido por
                        Zafra_id: 123 # Zafra
                        Unidad_id: 123 # Unidad
                        Moneda_id: 123 # Moneda
                        Entidad_id: 123 # Entidad
                        Pagare_num_cb_uk: "ABCD" # Número del Pagaré
                        Valor: 123.45 # Valor del Pagaré
                        Firma_ro: "ABCD" # Situación
                        Negociable_sn: "ABCD" # Negociable
                        Imprime_fact_sn: "ABCD" # Imprimir facturas de referencia
                        Zafra_txt: "ABCD"
                        Entidad_txt: "ABCD"
                        Unidad_txt: "ABCD"
                        Moneda_txt: "ABCD"
                detalle_Pagare_entidad_con_paginacion:
                  summary: Clase detalle Pagare_entidad (con paginación)
                  value:
                    TotalItems: 962743
                    ItemsPerPage: 100
                    ActualPage: 1
                    TotalPages: 9628
                    Items:
                      - id: 123
                        Pagare_id: 123
                        Entidad_id: 123 # Codeudor
                        Tipo_codeudor: "ABCD" # Tipo
                        Pagare_txt: "ABCD"
                        Entidad_txt: "ABCD"
[...]
